.dibm() {
	display: inline-block;
	vertical-align: middle;
}

.dibt() {
	display: inline-block;
	vertical-align: top;
}

.justify() {
	text-align: justify;

	&:after {
		content: '';
		display: inline-block;
		width: 100%;
	}

}

.img() {
	display: inline-block;
	max-width: 100%;
	height: auto;
}

.trans() {
	transition: all 0.3s;
}

.bg-white {
	background: #fff;
}

.bg-grey {
	background: #f9f9f9;
}

.bg-light-yellow {
	background: @light-yellow;
}

.bg-bordo {
	background: #7e5b6e;
}

.bg-blue {
	background: #e2f2ff;
}

.text-white {
	color: #fff;
}

.text_up {
	text-transform: uppercase;
}

.text_f14 {
	font-size: 1.4rem;
}

.text_f16 {
	font-size: 1.6rem;
}

.text_f18 {
	font-size: 1.8rem;
}

.ms-flex() {
	-ms-flex: 0 1 auto;
}