extends template
block content
  -var sales1="%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='48' viewBox='0 0 44 48'%3E%3Cpath d='M608.912,5814.31l-1.932,2.63A18.568,18.568,0,0,1,596,5850.59v-1.9a0.254,0.254,0,0,0-.4-0.2l-5.165,3.52a0.254,0.254,0,0,0,0,.42l5.165,3.52a0.255,0.255,0,0,0,.4-0.2v-1.9A21.82,21.82,0,0,0,608.912,5814.31Zm0.059,15.45-2.572-.43a10.331,10.331,0,0,0-1.153-2.75l1.508-2.1a0.973,0.973,0,0,0-.109-1.26l-0.907-.9-0.907-.9a1,1,0,0,0-1.261-.08l-2.119,1.49a10.311,10.311,0,0,0-2.77-1.15l-0.434-2.54a0.988,0.988,0,0,0-.966-0.82h-2.562a0.986,0.986,0,0,0-.966.82l-0.434,2.55a10.123,10.123,0,0,0-2.829,1.18l-2.1-1.47a0.989,0.989,0,0,0-1.272.1l-0.907.9-0.907.9a1,1,0,0,0-.108,1.27l1.518,2.12a10.87,10.87,0,0,0-1.134,2.75l-2.552.4a0.98,0.98,0,0,0-.819.96v2.55a0.962,0.962,0,0,0,.819.95l2.582,0.44a11.056,11.056,0,0,0,1.163,2.74l-1.488,2.08a0.972,0.972,0,0,0,.108,1.26l0.907,0.9,0.907,0.9a0.988,0.988,0,0,0,1.271.11l2.139-1.51a11.231,11.231,0,0,0,2.77,1.13l0.424,2.52a0.988,0.988,0,0,0,.966.82h2.562a0.986,0.986,0,0,0,.966-0.82l0.434-2.56a10.457,10.457,0,0,0,2.7-1.12l2.119,1.5a0.977,0.977,0,0,0,1.271-.11l0.907-.9,0.907-.9a0.984,0.984,0,0,0,.109-1.26l-1.489-2.11a10.607,10.607,0,0,0,1.144-2.75l2.562-.43a0.98,0.98,0,0,0,.818-0.96v-2.55A0.98,0.98,0,0,0,608.971,5829.76Zm-9.295,5.76a5.14,5.14,0,0,1-7.205.01,5.047,5.047,0,0,1-.01-7.16,5.141,5.141,0,0,1,7.206-.01A5.028,5.028,0,0,1,599.676,5835.52Zm1.893-23.95-5.165-3.52a0.255,0.255,0,0,0-.4.2v1.9a21.827,21.827,0,0,0-12.912,39.55l1.932-2.63A18.575,18.575,0,0,1,596,5813.41v1.9a0.254,0.254,0,0,0,.4.2l5.165-3.52A0.254,0.254,0,0,0,601.569,5811.57Z' transform='translate%28-574 -5808%29'/%3E%3C/svg%3E";
  -var sales2="%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cpath d='M601.663,5984.8a6.237,6.237,0,1,0-3.1,3.09l7.282,7.28a9.537,9.537,0,0,1,1.362-1.74,8.961,8.961,0,0,1,1.734-1.35Zm-3.91-.84a2.478,2.478,0,1,1,0-3.5A2.479,2.479,0,0,1,597.753,5983.96Zm2.646,29.41a6.246,6.246,0,0,0-6.978-1.27l-7.282-7.28a9.065,9.065,0,0,1-1.352,1.74,8.937,8.937,0,0,1-1.735,1.35l7.282,7.28A6.226,6.226,0,1,0,600.4,6013.37Zm-2.646,6.16a2.482,2.482,0,1,1,0-3.51A2.479,2.479,0,0,1,597.753,6019.53Zm20.423-23.96a6.228,6.228,0,0,0-10.065,6.99l-7.281,7.28a8.862,8.862,0,0,1,3.087,3.09l7.282-7.28A6.23,6.23,0,0,0,618.176,5995.57Zm-2.646,6.18a2.481,2.481,0,1,1,0-3.51A2.478,2.478,0,0,1,615.53,6001.75Zm-24.363-11.6a9.4,9.4,0,0,1-1.735-1.36,9,9,0,0,1-1.352-1.73l-7.282,7.28a6.221,6.221,0,1,0,3.087,3.09Zm-11.192,11.6a2.481,2.481,0,1,1,0-3.51A2.478,2.478,0,0,1,579.975,6001.75Z' transform='translate%28-572 -5976%29'/%3E%3C/svg%3E";
  -var sales3="%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='45' viewBox='0 0 38 45'%3E%3Cpath d='M600.155,6154.63l-6.079,6.12-2.535-2.59-2.654,2.67,2.536,2.59,2.644,2.69,2.653-2.67,6.071-6.12Zm12.84,5.24a17.384,17.384,0,0,0-15.884-16.83,17.206,17.206,0,0,0-18.337,16.15l-0.046.47a14.128,14.128,0,0,1-1.3,5.42c-0.755,1.46-1.545,2.9-2.19,3.91a1.5,1.5,0,0,0,1.245,2.31h2.244v8.33a3.022,3.022,0,0,0,3.008,3.04h4.689v4.18a1.145,1.145,0,0,0,1.508,1.09l19.728-6.8a1.728,1.728,0,0,0,1.154-1.63v-7.81A17.418,17.418,0,0,0,613,6159.87Zm-17.156,11.89a11.386,11.386,0,1,1,11.241-11.39A11.318,11.318,0,0,1,595.839,6171.76Z' transform='translate%28-575 -6143%29'/%3E%3C/svg%3E";
  -var sales4="%3Csvg xmlns='http://www.w3.org/2000/svg' width='45.969' height='42' viewBox='0 0 45.969 42'%3E%3Cpath d='M603.724,6336.23a1.126,1.126,0,0,0-1.527.43,1.112,1.112,0,0,0,.01,1.12,0.943,0.943,0,0,0,.412.41,1.12,1.12,0,0,0,1.527-.42A1.14,1.14,0,0,0,603.724,6336.23Zm-8.336,4.45a1.126,1.126,0,0,0-1.105,1.15,1.1,1.1,0,0,0,.15.56A1.126,1.126,0,1,0,595.388,6340.68Zm-0.159-18.12a1.128,1.128,0,0,0-.965,1.69,1.157,1.157,0,0,0,.983.57A1.13,1.13,0,0,0,595.229,6322.56Zm9.094,8.99a1.123,1.123,0,0,0-1.114,1.13,1.082,1.082,0,0,0,.159.57,1.123,1.123,0,0,0,2.089-.58A1.119,1.119,0,0,0,604.323,6331.55Zm17.909,7.53h-1.18a7.371,7.371,0,0,0-1.143-2.78l0.824-.83a0.785,0.785,0,0,0,0-1.1l-0.852-.85a0.78,0.78,0,0,0-1.1,0l-0.815.82a7.449,7.449,0,0,0-2.782-1.16v-1.14a0.78,0.78,0,0,0-.777-0.79h-1.2a0.78,0.78,0,0,0-.777.79v1.14a7.408,7.408,0,0,0-2.791,1.17l-0.806-.81a0.78,0.78,0,0,0-1.1,0l-0.843.86a0.785,0.785,0,0,0,0,1.1l0.806,0.81a7.3,7.3,0,0,0-1.143,2.8h-1.143a0.778,0.778,0,0,0-.777.78v1.21a0.778,0.778,0,0,0,.777.78h1.143a7.393,7.393,0,0,0,1.162,2.78l-0.815.82a0.785,0.785,0,0,0,0,1.1l0.852,0.85a0.78,0.78,0,0,0,1.1,0l0.824-.83a7.27,7.27,0,0,0,2.772,1.14v1.19a0.779,0.779,0,0,0,.778.78h1.2a0.778,0.778,0,0,0,.777-0.78v-1.19a7.174,7.174,0,0,0,2.754-1.16l0.843,0.84a0.78,0.78,0,0,0,1.1,0l0.843-.86a0.787,0.787,0,0,0,0-1.1l-0.843-.83a7.369,7.369,0,0,0,1.142-2.78h1.18a0.779,0.779,0,0,0,.778-0.78v-1.21A0.777,0.777,0,0,0,622.232,6339.08Zm-4.908-2.12a4.69,4.69,0,0,1,.918,1.27l-1.471.4a3.392,3.392,0,0,0-.543-0.7,3.486,3.486,0,0,0-4.2-.56l-0.993-1A4.943,4.943,0,0,1,617.324,6336.96Zm-5.685,7.99a4.617,4.617,0,0,1-1.3-.94,4.975,4.975,0,0,1-.59-6.33l1,1.01a3.507,3.507,0,0,0,.571,4.21,3.343,3.343,0,0,0,.721.56Zm0.955-3.35a1.676,1.676,0,1,1,2.36-.01A1.663,1.663,0,0,1,612.594,6341.6Zm4.739,2.39a4.88,4.88,0,0,1-3.934,1.45l0.4-1.53a3.453,3.453,0,0,0,2.435-1.03,3.5,3.5,0,0,0,1.012-2.47l1.5-.41A4.908,4.908,0,0,1,617.333,6343.99Zm-17.018-20.1a1.1,1.1,0,0,0-1.527.42,1.133,1.133,0,0,0,.009,1.13,1.027,1.027,0,0,0,.413.4A1.121,1.121,0,0,0,600.315,6323.89Zm-14.04,7.83a1.125,1.125,0,0,0-1.106,1.14,1.12,1.12,0,1,0,2.239-.03A1.128,1.128,0,0,0,586.275,6331.72Zm5.151,7.95a1.111,1.111,0,0,0-1.527.42,1.131,1.131,0,0,0,.01,1.13,1.143,1.143,0,0,0,.421.41A1.123,1.123,0,1,0,591.426,6339.67Zm-2.913-2.87a1.12,1.12,0,1,0-.393,1.54A1.132,1.132,0,0,0,588.513,6336.8Zm3.2-12.43a1.125,1.125,0,0,0-1.536-.41,0.031,0.031,0,0,1-.018.01c-0.01,0-.01.01-0.019,0.01a1.123,1.123,0,0,0-.393,1.54,1.108,1.108,0,0,0,1.536.41l0.009-.01c0.009,0,.009-0.01.019-0.01h0.009A1.139,1.139,0,0,0,591.716,6324.37ZM588,6327.32a1.123,1.123,0,0,0-1.527.43,1.156,1.156,0,0,0,.01,1.13,1.016,1.016,0,0,0,.421.41,1.11,1.11,0,0,0,1.527-.44A1.125,1.125,0,0,0,588,6327.32Zm16,0.25a1.119,1.119,0,0,0-1.443-.43l-6.228,3.07a2.755,2.755,0,1,0,1.667,2.84l5.676-4.01A1.089,1.089,0,0,0,604,6327.57Zm-7.531,5.47a1.2,1.2,0,1,1-.861-1.47A1.2,1.2,0,0,1,596.465,6333.04Zm4.393,6.94a1.121,1.121,0,1,0-1.93,1.14A1.121,1.121,0,1,0,600.858,6339.98Zm8.608-18.6,1.236-1.24,1.124,1.13,0.965-.97a2.682,2.682,0,0,0,0-3.78l-1.33-1.34a2.663,2.663,0,0,0-3.766,0l-0.964.97,1.105,1.11-1.237,1.24a18.178,18.178,0,0,0-9.244-3.85v-1.6h0.637a0.885,0.885,0,0,0,.88-0.89v-2.28a0.883,0.883,0,0,0-.88-0.88H592.55a0.883,0.883,0,0,0-.88.88v2.27a0.885,0.885,0,0,0,.88.89H593.3v1.58a17.956,17.956,0,0,0-7.221,2.4,17.491,17.491,0,0,0-2.126,1.47l-1.237-1.24,1.124-1.13-0.964-.96a2.663,2.663,0,0,0-3.766,0l-1.33,1.34a2.682,2.682,0,0,0,0,3.78l0.965,0.96,1.105-1.11,1.237,1.25a18.359,18.359,0,0,0-1.471,20.62,18.134,18.134,0,0,0,24.858,6.49c0.356-.2.693-0.43,1.031-0.66l-0.075-.07a2.461,2.461,0,0,1-.721-1.76,2.494,2.494,0,0,1,.7-1.74c-0.066-.15-0.131-0.3-0.187-0.45a2.335,2.335,0,0,1-1.049-.26,14.37,14.37,0,0,1-1.827,1.29,14.073,14.073,0,1,1,6.819-13.38,2.485,2.485,0,0,1,.918.57,4.3,4.3,0,0,1,.449-0.19,2.489,2.489,0,0,1,2.473-2.46h0.122a18.06,18.06,0,0,0-2.192-5.86A17.517,17.517,0,0,0,609.466,6321.38Z' transform='translate%28-577.031 -6309%29'/%3E%3C/svg%3E";
  -var sales5="%3Csvg xmlns='http://www.w3.org/2000/svg' width='39' height='34' viewBox='0 0 39 34'%3E%3Cpath d='M593.25,6479h0c8.975,0,16.25,5.77,16.25,12.9s-7.275,12.9-16.25,12.9a21.041,21.041,0,0,1-2.533-.16c-3.491,3.41-7.522,4.02-11.55,4.11v-0.84c2.175-1.04,3.927-2.93,3.927-5.1a5.828,5.828,0,0,0-.069-0.89c-3.675-2.36-6.025-5.98-6.025-10.02C577,6484.77,584.275,6479,593.25,6479Zm17.469,28.91a4.961,4.961,0,0,0,3.114,4.37V6513c-3.491-.08-6.7-0.6-9.721-3.52a19.727,19.727,0,0,1-2.195.13,16.608,16.608,0,0,1-8.586-2.29,21.113,21.113,0,0,0,13.028-4.34,15.663,15.663,0,0,0,4.144-4.89,13.061,13.061,0,0,0,1.57-6.19c0-.35-0.015-0.69-0.043-1.04a9.941,9.941,0,0,1,3.97,7.69c0,3.47-2.037,6.57-5.222,8.6A5.017,5.017,0,0,0,610.719,6507.91Z' transform='translate%28-577 -6479%29'/%3E%3C/svg%3E";
  -var sales6="%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='41' viewBox='0 0 40 41'%3E%3Cpath d='M599.191,6717.48a9.858,9.858,0,0,1,9.912-9.8,8.757,8.757,0,0,1,2.679.36,0.542,0.542,0,0,0,.783-0.42,15.39,15.39,0,0,0,.559-4.03c0-.09-0.052-11.67-0.052-11.81,0-1.14-.661-1.14-0.956-1.14a22.575,22.575,0,0,1-6.547-.64c-4.718-1.34-8.913-5-10.507-5-1.545,0-4.659,3.66-9.377,5a22.89,22.89,0,0,1-7.6.51c-0.28-.01-0.727-0.08-0.868.88-0.036.24-.218,12.07-0.218,12.2,0,11.56,14.447,22.41,18.062,22.41,1.156,0,3.02-.92,5.527-2.77a0.389,0.389,0,0,0,.057-0.63A9.689,9.689,0,0,1,599.191,6717.48Zm9.974,5.01a1.037,1.037,0,0,1-1.324.12l-6.277-4.6a0.868,0.868,0,0,1-.181-1.23l0.8-1.05a0.921,0.921,0,0,1,1.256-.19l4.026,2.93a1.041,1.041,0,0,0,1.326-.13l5.681-5.88a0.9,0.9,0,0,1,1.26-.05l0.98,0.9a0.883,0.883,0,0,1,.047,1.25Z' transform='translate%28-577 -6685%29'/%3E%3C/svg%3E";
  -var sales7="%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='31' viewBox='0 0 44 31'%3E%3Cpath d='M586.6,6898.69a0.551,0.551,0,0,0-.131-0.39l-4.231-4.84a0.485,0.485,0,0,0-.367-0.18,0.5,0.5,0,0,0-.386.13,22.128,22.128,0,0,0-4.8,6.03,0.543,0.543,0,0,0-.044.41,0.533,0.533,0,0,0,.256.32l5.623,3.09a0.48,0.48,0,0,0,.255.07,0.531,0.531,0,0,0,.469-0.28,14.648,14.648,0,0,1,3.172-3.99A0.515,0.515,0,0,0,586.6,6898.69Zm1.888-1.79a0.532,0.532,0,0,0,.472.28,0.557,0.557,0,0,0,.25-0.06,14.391,14.391,0,0,1,4.819-1.56,0.534,0.534,0,0,0,.457-0.6l-0.861-6.4a0.538,0.538,0,0,0-.6-0.46,21.754,21.754,0,0,0-7.317,2.37,0.544,0.544,0,0,0-.221.73Zm-6.879,8.65-6.184-1.69a0.525,0.525,0,0,0-.405.06,0.517,0.517,0,0,0-.25.32,22.364,22.364,0,0,0-.766,5.81c0,0.34.008,0.68,0.025,1.04a0.531,0.531,0,0,0,.533.51h0.025l6.4-.3a0.525,0.525,0,0,0,.37-0.17,0.557,0.557,0,0,0,.138-0.39q-0.016-.36-0.016-0.69a14.828,14.828,0,0,1,.5-3.84A0.543,0.543,0,0,0,581.605,6905.55Zm23.938-15.46a21.722,21.722,0,0,0-7.4-2.09,0.549,0.549,0,0,0-.391.12,0.53,0.53,0,0,0-.192.37l-0.618,6.42a0.543,0.543,0,0,0,.48.59,14.055,14.055,0,0,1,4.874,1.37,0.619,0.619,0,0,0,.232.05,0.537,0.537,0,0,0,.481-0.3l2.783-5.82A0.534,0.534,0,0,0,605.543,6890.09Zm9.411,9.02a0.542,0.542,0,0,0-.059-0.41,22.1,22.1,0,0,0-5.022-5.84,0.552,0.552,0,0,0-.391-0.12,0.563,0.563,0,0,0-.36.2l-4.043,5a0.56,0.56,0,0,0-.117.4,0.539,0.539,0,0,0,.194.36,14.752,14.752,0,0,1,3.322,3.86,0.538,0.538,0,0,0,.459.27,0.553,0.553,0,0,0,.274-0.08l5.5-3.31A0.55,0.55,0,0,0,614.954,6899.11Zm2.042,4.31a0.534,0.534,0,0,0-.669-0.35l-6.114,1.93a0.536,0.536,0,0,0-.35.67,14.747,14.747,0,0,1,.661,4.38q0,0.33-.016.69a0.557,0.557,0,0,0,.138.39,0.525,0.525,0,0,0,.37.17l6.4,0.3h0.025a0.531,0.531,0,0,0,.533-0.51c0.017-.36.025-0.7,0.025-1.04A22.284,22.284,0,0,0,617,6903.42Zm-21.015,5.49c-0.092,0-.184.01-0.275,0.01l-8.674-5.15a0.543,0.543,0,0,0-.66.07,0.557,0.557,0,0,0-.1.66l4.732,8.93c-0.017.18-.026,0.35-0.026,0.53a5.025,5.025,0,0,0,1.466,3.56,4.977,4.977,0,0,0,7.083,0,5.065,5.065,0,0,0,0-7.13A4.97,4.97,0,0,0,595.981,6908.91Z' transform='translate%28-574 -6888%29'/%3E%3C/svg%3E";
  -var sales8="%3Csvg xmlns='http://www.w3.org/2000/svg' width='46' height='50' viewBox='0 0 46 50'%3E%3Cpath d='M608.5,7056.57l-2.02,2.75A19.32,19.32,0,0,1,595,7094.36v-1.98a0.267,0.267,0,0,0-.423-0.21l-5.4,3.67a0.266,0.266,0,0,0,0,.44l5.4,3.67a0.269,0.269,0,0,0,.423-0.21v-1.98A22.716,22.716,0,0,0,608.5,7056.57Zm0.062,16.11-2.69-.45a10.775,10.775,0,0,0-1.2-2.87l1.576-2.19a1.019,1.019,0,0,0-.1-1.33l-0.948-.94-0.948-.93a1.053,1.053,0,0,0-1.319-.08l-2.215,1.56a11.515,11.515,0,0,0-2.9-1.19l-0.453-2.65a1.019,1.019,0,0,0-1.01-.84h-2.679a1.018,1.018,0,0,0-1.01.84l-0.454,2.66a10.721,10.721,0,0,0-2.957,1.24l-2.2-1.54a1.031,1.031,0,0,0-1.329.11l-0.948.94-0.948.94a1.017,1.017,0,0,0-.114,1.31l1.587,2.21a11.381,11.381,0,0,0-1.185,2.87l-2.669.42a1.019,1.019,0,0,0-.855,1v2.65a1.027,1.027,0,0,0,.855,1l2.7,0.44a11.265,11.265,0,0,0,1.216,2.86l-1.556,2.17a1.022,1.022,0,0,0,.113,1.32l0.948,0.94,0.948,0.93a1.058,1.058,0,0,0,1.33.12l2.236-1.57a11.771,11.771,0,0,0,2.895,1.17l0.444,2.63a1.018,1.018,0,0,0,1.009.84h2.68a1.019,1.019,0,0,0,1.01-.84l0.453-2.67a11.338,11.338,0,0,0,2.823-1.17l2.216,1.56a1.031,1.031,0,0,0,1.329-.11l0.948-.94,0.948-.93a1.032,1.032,0,0,0,.114-1.32l-1.567-2.21a11.119,11.119,0,0,0,1.2-2.87l2.679-.45a1.017,1.017,0,0,0,.855-0.99v-2.66A1.009,1.009,0,0,0,608.561,7072.68Zm-9.346,2.98-3.968,4.8a0.34,0.34,0,0,1-.5,0l-3.967-4.8a0.255,0.255,0,0,1,.206-0.42h2.061v-5.36a0.421,0.421,0,0,1,.423-0.42h3.06a0.421,0.421,0,0,1,.423.42v5.36h2.06A0.255,0.255,0,0,1,599.215,7075.66Zm1.607-21.94-5.4-3.67a0.268,0.268,0,0,0-.422.21v1.98a22.729,22.729,0,0,0-13.5,41.21l2.009-2.76A19.332,19.332,0,0,1,595,7055.64v1.97a0.268,0.268,0,0,0,.422.22l5.4-3.67A0.266,0.266,0,0,0,600.822,7053.72Z' transform='translate%28-572 -7050%29'/%3E%3C/svg%3E";

  main.integration
    section.banner.banner_default
      .banner__img.animated.fadeIn(style='background-image: url(images/1c.jpg)')
      .banner__info
        h1.banner__title Разработка фирменного стиля
        .banner__text Фирменный стиль компании – это ее своеобразный опознавательный знак на рынке.
      .breadcrumb
        ol
          li
            a(href='#') Главная
          li.active Разработка фирменного стиля


    section.integration-1c
      .container
        .section__img
        .section__title ИНТЕГРАЦИЯ С 1С     
        .section__text
          p
            strong Автоматическая публикация товаров в каталоге гарантирует актуальность ассортимента и цен. Теперь на сайте будут только актуальные позиции! 
          p Автоматическая передача заказов в 1С – удобство обработки и учета! Забудьте об ошибках, которые часто возникают при переносе данных, экономьте время своих менеджеров и будьте уверены в точности оформленного заказа.Обратная связь с интернет-магазина – отличное решение для своевременного информирования покупателей о движении заказов. Как только оплата будет зафиксирована в 1С, она сразу же отобразится и в Корзине покупателя.
        .section__image.wow.tada
          img(src="images/integration-1c.jpg", alt="")
        .offer
          .offer__block
            p.text_up Хотите  интегрировать 1С с вашим сайтом?
            p.text_up 
              strong Закажите обратный звонок менеджера iMedia!
          .offer__btn.wow.lightSpeedIn
            .btn.btn-green ЗАказать обратный звонок



    section.section-sales.integration-sales.bg-grey
      .container
        .section__img
        .section__pre искусство подбирать функционал
        .section__title «Стандартные» проблемы <br>интернет-магазина, где нет интеграции с 1С

        .row
            .item
              .item__img.wow.bounceIn
                +number(1)
              .item__info
                .item__title НЕПОЛНАЯ ВЫГРУЗКА ДАННЫХ ПО ТОВАРАМ
                .item__text Просто выгрузить названия товаров – недостаточно, поскольку потенциальные покупатели хотят видеть изображение товара, его технические параметры, иметь возможность сравнить выбранные позиции между собой, в целом, получить максимально подробное описание интересующего товара.


            .item
              .item__img.wow.bounceIn
                +number(2)
              .item__info
                .item__title УСТАРЕВШИЙ КАТАЛОГ ТОВАРОВ
                .item__text Недостаточно единожды выгрузить каталог товаров, его нужно регулярно обновлять и дополнять, соответственно поступающим обновлениям и дополнениям товарной базы. Если делать это вручную, то можно впустую тратить время на выгрузку товаров, которые остались неизменными, либо придется внимательно следить за изменениями в номенклатуре, чтобы своевременно отражать их на сайте.


            .item
              .item__img.wow.bounceIn
                +number(3)
              .item__info
                .item__title УСТАРЕВШИЙ ПРАЙС-ЛИСТ И ИНФОРМАЦИЯ ПО НАЛИЧИЮ ТОВАРОВ
                .item__text Даже самые внимательные контент-менеджеры не могут отследить самые последние изменения состояния цен и информацию по остаткам товара, поскольку продажи могут осуществляться вне интернет-магазина, для новой партии могут прийти другие цены. Соответственно, какое-то время информация по стоимости и остаткам будет неактуальной. Если прайс-лист выкладывается в формате Excel, то часто он устаревает в момент выгрузки, по описанным выше причинам.


            .item
              .item__img.wow.bounceIn
                +number(4)
              .item__info
                .item__title ПЕРЕНОС ЗАКАЗОВ В 1С ВРУЧНУЮ 
                .item__text Менеджеру необходимо вручную создавать заказы, поступающие в интернет-магазин, вводить все параметры и данные. Это требует не только много времени, но еще и повышает риск ошибки из-за пресловутого «человеческого фактора».


            .item
              .item__img.wow.bounceIn
                +number(5)
              .item__info
                .item__title СЛОЖНОСТЬ ИНФОРМИРОВАНИЯ ПОКУПАТЕЛЕЙ
                .item__text Клиенту сложно понять, в каком статусе находиться его товар: обработан ли он, прошла ли оплата, что включено в комплект. Чтобы узнать необходимую информацию, ему приходиться тратить время на телефонные звонки, что создает дополнительную нагрузку для менеджеров.

        .offer
          .offer__block
            p.text_up 
              strong Хотите получить консультацию, <br> как решить ваши проблемы эффективно?
          .offer__btn
            .btn.btn-green ЗАКАЗАТЬ звонок специалиста

    section.integration-param
      .container
        .integration-param__wrap
          .section__img
          .section__title Интеграция: технологические параметры
          .section__text
            p.text_f16 В «1С:Предприятие 8.1» и «1С-Битрикс: Управление сайтом» уже встроены системы штатных процедур взаимодействия и поддержки обмена данными с «1С:Предприятие». Таким образом, вы получаете комплексное решение для автоматизации торговли, в том числе и для корпоративных сайтов, организации продаж в Интернет-сети.

            p.text_f18.text_up  
              strong Схема взаимодействия программных продуктов
            p Обмен данными осуществляется на основе использования открытого Стандарта обмена коммерческой информацией <strong>CommerceML 2.0</strong> (основан на XML).
          .section__image.wow.zoomInUp
            img(src="images/integration-param.png", alt="")
          .offer
            .offer__block
              p 
                span Чем раньше мы узнаем о Ваших бизнесс процессах 
                br
                span.text_up 
                  strong тем быстрее Вы получите ответ, сможете ли вы интегрировать ваш сайт с 1с !
            .offer__btn
              .btn.btn-green ЗАКАЗАТЬ звонок специалиста

    section.section-approach.integration-approach
      .container
        .section__img
        .section__pre Наши отличия от большинства конкурентов
        .section__title Что мы делаем
        .section__post За счет интеграции «1С-Битрикс:Управление сайтом» с торговыми конфигурациями «1С:Предприятие» вы можете решить такие технологические задачи:
        .section-approach__list
          ul 
            li Публиковать товарную номенклатуру в каталоге своего интернет-магазина
            li Передавать на обработку заказы с сайта в 1С;
          ul 
            li Выгружать обработанные заказы на сайт для информирования покупателей.


    section.integration-feature.bg-grey
      .container            
        .integration-feature__wrap.section-sales.shop-sales
          .row.integration-feature__list       

            .item
              .item__img.wow.rollIn
                span(style='background-image: url("data:image/svg+xml,'+sales1+'");')
              .item__info
                .item__title Естественная интеграция из “Коробки”
                .item__text 
                  p Нет необходимости приобретать дополнительные модули и конфигурации. «1С: Управление торговлей» и «1С-Битрикс: Управление сайтом» содержит в себе весь необходимый функционал, если же вы хотите улучшить функционал интеграции, можно просто установить бесплатный модуль 1С: Управление торговлей.

            .item
              .item__img.wow.rollIn
                span(style='background-image: url("data:image/svg+xml,'+sales2+'");')
              .item__info
                .item__title Функциональность
                .item__text 
                  p Здесь предусмотрена автоматизация практически всех задач, которые важны для качественно работающего интернет-магазина. Также мы предложим вам несколько бизнес-моделей функциональных блоков и разнообразные настройки, которые помогут настроить работу сайта под бизнес-процесс компании.
          
            .item
              .item__img.wow.rollIn
                span(style='background-image: url("data:image/svg+xml,'+sales3+'");')
              .item__info
                .item__title Простота настройки
                .item__text 
                  p Никакими специальными знаниями и навыками обладать не нужно, чтобы выполнить интеграцию 1С. Настройки просты и понятны даже для пользователя с минимальным опытом работы с ПК и продуктами 1С.
          
            .item
              .item__img.wow.rollIn
                span(style='background-image: url("data:image/svg+xml,'+sales4+'");')
              .item__info
                .item__title Автоматизация, работа по расписанию 
                .item__text 
                  p Функционал интеграции будет работать незаметно, никакой дополнительной нагрузки на сотрудников не будет создано. Наоборот, они будут избавлены от многих рутинных процессов, риска ошибок, просрочки выполнения операций. Можно просто задать двухсторонний обмен данными по расписанию и просто получать отчеты о результатах.

          
            .item
              .item__img.wow.rollIn
                span(style='background-image: url("data:image/svg+xml,'+sales5+'");')
              .item__info
                .item__title Real-time обмен с «1С»

                .item__text 
                  p 
                    | Эта технология непрерывной 2-стороней связи между «1С» и «1С-Битрикс: Управление сайтом», обеспечивающая постоянный обмен данными в онлайн-режиме, не требующая использования дополнительного сервера, выставления спецнастроек. Дополнительные плюсы – стабильность работы на любом ПК, минимальная нагрузка на сайт и 1С.
                    br
                    span 
                      strong Вы сможете получать информацию в режиме реального времени по:
                    br
                    span - Товарам, ценам, остаткам в рамках заказа – из 1С в интернет-магазин;
                    br
                    span - Заказам, статусам, системам оплаты, заказчикам, контрагентам – из интернет-магазина в 1С.



          
            .item
              .item__img.wow.rollIn
                span(style='background-image: url("data:image/svg+xml,'+sales6+'");')
              .item__info
                .item__title Полная безопасность
                .item__text 
                  p Безопасности данных в 1С не будет ничего угрожать, поскольку веб-сайты работают на удаленном хостинге и не имеют доступа к базе данных 1С, гже храниться необходимая для работы информация (адрес сервера, данные для аутентификации и т.д.). Поступает лишь типовой запрос от пользователя, который обрабатывается соответственно открытым для него правам. Также никакой опасности не будет для интернет-магазина, если по каким-то причинам будет нарушена безопасность 1С.

          
            .item
              .item__img.wow.rollIn
                span(style='background-image: url("data:image/svg+xml,'+sales7+'");')
              .item__info
                .item__title Высокая производительность
                .item__text 
                  p Интернет-магазин сможет работать сразу с большим количеством покупателей без какого-либо ущерба скорости и качеству работы. Он выдержит любую нагрузку, при этом ничего не будет влиять негативно на производительность 1С, ведь за счет системы контроля измененных позиций будут выгружаться только те товары, которые были изменены.

          
            .item
              .item__img.wow.rollIn
                span(style='background-image: url("data:image/svg+xml,'+sales8+'");')
              .item__info
                .item__title Открытый формат и протокол обмена
                .item__text 
                  p Интеграция выполняется на основе принципа использования открытого формата обмена коммерческой информацией – CommerceML. При этом протокол обмена подробно документирован.
        

        .manager
          .manager__wrap
            .manager__left
              span
                strong Чем раньше мы узнаем о задачах Вашего бизнеса,
              br
              span тем быстрее Вы получите нужный продукт!
              .manager__btn
                .btn.btn-green Заказать звонок специалиста
            .manager__right
              span
                strong Константин
              br
              span Специалист по продажам, <br>развитию бизнеса и менеджменту в интернете
            .manager__img.wow.zoomInDown
              img(src="images/manager.png", alt="")



    section.integration-develope
      .container   
        .develope__block
          .develope__inner
            .develope__title Стоимость  интеграции сайта с “1с”

            .row.develope__list
              - for (var i = 0; i < 2; i++)
                .six.columns
                  .item
                    .item__img
                      img(src="images/1c-logo.png", alt="")
                    .item__info
                      .item__title ИНТЕГРАЦИЯ САЙТА С 1С 7 ВЕРСИИ 
                      .item__price 1 200 000 бел. руб. 
                      .item__text 
                        span Для 7-й версии 1С, нестандартных решений «1С: Предприятие – Управление торговлей», в случае отсутствия конфигурации «Управление торговлей» мы разработаем способы обмена данными в индивидуальном порядке. Стоимость работы будет зависеть от ее сложности, а в частности от установленной версии 1С и требований, которые владелец интернет-магазина предъявляет к системе.
                      .item__btn
                        a(href="").btn.btn-green Оставить заявку
                      .item__after 
                        span Чтобы оценить стоимость, сложность и сроки работ по интеграции, нам необходимо знать особенности вашего интернет-магазина и вашей системы учета.      
        .offer
          p 
            span.text_f18.text_up 
              strong Хотите узнать сколько стоит интеграция 1с в Минске?
            br
            span.text_up 
              strong Закажите звонок эксперта и ПОЛУЧИТЕ выгодное предложение!

          .offer__btn
            .btn.btn-green.wow.lightSpeedIn Получить Выгоду          
      
