extends template
block content

  main.ban
    section.banner.banner_default
      .banner__img.animated.fadeIn(style='background-image: url(images/ban.jpg)')
      .banner__info
        h1.banner__title Создание баннеров
        .banner__text Одним из самых эффективных рекламных носителей в интернете является баннер!
      .breadcrumb
        ol
          li
            a(href='#') Главная
          li.active Баннеры


    section.ban-about
      .container
        .section__img
        .section__title создание эффективных <br>    
        .section__text
          p
            strong «Битрикс24» – это полный комплект инструментов для организации работы вашей компании.  
          p Этот сервис предназначается не только для крупных компаний с налаженными бизнес-процессами, но и для среднего и малого бизнеса, представители которого в полной мере используют этот действительно удобный виртуальный офис. Его возможности обеспечат комфортную работу всех сотрудников вашей компании. 

        .ban-about__wrap
          .ban-about__circle
            .ban-about__img.wow.fadeInDown
              img(src="images/ban-about.png", alt="")

        .offer
          .offer__block
            span.text_up Хотите точно знать, сколько будет стоить разработка баннера?
            br
            span.text_up 
              strong Закажите обратный звонок менеджера iMedia!
          .offer__btn.wow.lightSpeedIn
            .btn.btn-green ЗАказать обратный звонок


    section.section-sales.ban-sales.bg-grey
      .container
        .section__img
        .section__pre Самая эффективная реклама
        .section__title Виды рекламных <br>баннеров в интернете

        .row
            .item
              .item__img.wow.bounceIn
                +number(1)
              .item__info
                .item__title СТАТИЧНЫЙ БАННЕР КАРТИНКА ФОРМАТА JPG ИЛИ GIF
                p.item__text Изготовление баннера этого типа представляет собой создание статического изображения. Сегодня он считается устаревшим и используется крайне редко.


            .item
              .item__img.wow.bounceIn
                +number(2)
              .item__info
                .item__title АНИМИРОВАННЫЙ ПОКАДРОВО БАННЕР ФОРМАТА GIF
                p.item__text Вторым видом является GIF баннер, который стал следующей ступенью эволюции этих рекламных инструментов. Представляет он собой анимированный графический элемент, который создают из нескольких статических картинок. Обычно используют 3-5 картинки.


            .item
              .item__img.wow.bounceIn
                +number(3)
              .item__info
                .item__title АНИМИРОВАННЫЙ БАННЕР С ПОМОЩЬЮ ТЕХНОЛОГИИ FLASH
                p.item__text Cоздание flash баннеров, представляющих собой наиболее эффективные анимированные элементы. Такие баннеры дают намного больше возможностей, когда речь идет о реализации дизайнерских идей. Разработка флеш баннеров (как и остальных видов) включает в себя понятие формата баннера – его ширина и высота в пикселях. Технически никаких ограничений в размерах не существует, но есть несколько общепринятых стандартов, на которые и опираются разработчики сайтов.


            .item
              .item__img.wow.bounceIn
                +number(4)
              .item__info
                .item__title СОВРЕМЕННЫЕ АНИМИРОВАННЫЕ БАННЕРЫ С ТЕХНОЛОГИЕЙ HTML 5, CANVAS
                p.item__text Просто выгрузить названия товаров – недостаточно, поскольку потенциальные покупатели хотят видеть изображение товара, его технические параметры, иметь возможность сравнить выбранные позиции между собой, в целом, получить максимально подробное описание интересующего товара.

        .offer
          .offer__block
            p.text_up 
              span Хотите получить консультацию,
              br
              strong какой баннер будет эффективно продавать ?
          .offer__btn
            .btn.btn-green ЗАКАЗАТЬ звонок специалиста


    section.section-approach
      .container
        .section__img
        .section__title наши преимущества <br>разработки интернет баннера
        .section__post Наша компания может предложить своим клиентам следующие бонусные дополнительные услуги при заказе баннера:

        .section-approach__list
          ul 
            li Проведение тщательного анализа баннеров на сайтах-конкурентов;
            li Разработка рекламной концепции и создание баннера в ее рамках;
            li Возможность получения квалифицированной рекомендации по размещению баннера, а также собственно их размещение
            li Учет всех требований, пожеланий клиентов относительно разработки рекламного баннера, а также возможность их участия в процессе создания баннера

          ul 
            li Активное сотрудничество с ведущими белорусскими рекламными интернет-площадками
            li Флэш баннеров с высокой степенью откликов пользователей (CTR);
            li Изготовление баннеров нестандартных форматов
            li Оперативность создания баннера
            li Скидки для постоянных клиентов

    section.manager-section
      .container
        .manager
          .manager__wrap
            .manager__left
              span
                strong Чем раньше мы узнаем о задачах Вашего бизнеса,
              br
              span тем быстрее Вы получите нужный продукт!
              .manager__btn
                .btn.btn-green Заказать звонок специалиста
            .manager__right
              span
                strong Константин
              br
              span Специалист по продажам, <br>развитию бизнеса и менеджменту в интернете
            .manager__img.wow.zoomInDown
              img(src="images/manager.png", alt="")    
        .case
          .case__title Сколько будет стоить разработать баннер 
          .case__ribbon
            .ribbon
              .ribbon__img
                img(src="images/ribbon.png", alt="")
              .ribbon__info 
                .ribbon__text При заказе второго баннеров <br>вы получаете скидку до - 30% !!! 
          .case__list
            .case__item
              .item
                .item__img
                  img(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='49' height='55' viewBox='0 0 49 55'%3E%3Cpath fill='%23f9cf37' d='M808,5145.6a27.5,27.5,0,1,0,0,35.8l-17.665-17.9Zm-14.183-3.12a3.835,3.835,0,1,1-3.884,3.83A3.854,3.854,0,0,1,793.816,5142.48Z' transform='translate%28-759 -5136%29'/%3E%3C/svg%3E", alt="")
                .item__name Баннер без анимации
                .item__title 1 200 000 бел. руб.
            .case__item
              .item
                .item__img
                  img(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='49' height='55' viewBox='0 0 49 55'%3E%3Cpath fill='%23f9cf37' d='M808,5145.6a27.5,27.5,0,1,0,0,35.8l-17.665-17.9Zm-14.183-3.12a3.835,3.835,0,1,1-3.884,3.83A3.854,3.854,0,0,1,793.816,5142.48Z' transform='translate%28-759 -5136%29'/%3E%3C/svg%3E", alt="")
                  .spinner
                    .bounce1
                    .bounce2
                    .bounce3
                .item__name Баннер c анимацией
                .item__title 1 200 000 бел. руб.

          .case__img
            img(src="images/MacBook.jpg", alt="MacBook")
            .case__info.case__info_banner
              .case__name.case__name_banner.wow.zoomIn смотрите <br> примеры наших <br>работ в кейсе
          .case__btn
            .btn.btn-primary смотреть кейс

        .offer.offer_order
          .offer__text
            span.text_f18.text_up
              strong Хотите узнать сколько стоит заказать баннер в Минске?
            br
            span.text_up 
              strong Закажите звонок эксперта и ПОЛУЧИТЕ выгодное предложение!
          .offer__btn.wow.lightSpeedIn
            .btn.btn-green Получить Выгоду
