extends template
block content

  main.brand
    section.banner.banner_default
      .banner__img.animated.fadeIn(style='background-image: url(images/brand.jpg)')
      .banner__info
        h1.banner__title Разработка фирменного стиля
        .banner__text Фирменный стиль компании – это ее своеобразный опознавательный знак на рынке.
      .breadcrumb
        ol
          li
            a(href='#') Главная
          li.active Разработка фирменного стиля


    section.brand-why
      .container
        .section__title Что такое фирменный стиль <br> или он же брендбук ?
        .section__text
          p Фирменный стиль – это грамотно подобранные по смыслу постоянные графические и текстовые элементы, с помощью которых можно установить принадлежность того или иного предмета к определенной компании. Таким образом, фирменный стиль подразумевает оформление в одной цветовой гаме, одном стиле продукции компании, ее рекламы, помещений, формы одежды сотрудников, полиграфии и т.д.
          p Фирменный стиль компании – это ее своеобразный опознавательный знак на рынке. Кроме того, он представляет собой мощный маркетинговый инструмент, способствуя укреплению ее положительного образа в глазах клиентов и вызывая доверие партнеров, формируя определенный фирменный имидж, увеличивая эффективность проводящихся рекламных акций. Нельзя забывать о том, что создавая фирменный стиль предприятия, вы тем самым делаете ее узнаваемой для своих клиентов и партнеров.
          p
            strong Стоит обратить внимание и на то, что разработка фирменного стиля это работа не одного человека, а целой команды специалистов – от копирайтеров до маркетологов, что позволяет создать действительно эффективно работающий «продукт».

    section.section-sales.brand-sales.bg-grey
      .container
        .section__title Этапы создания  <br> фирменного стиля

        .row
          .six.columns
            .item
              .item__img.wow.bounceIn
                +number(1)
              .item__info
                .item__title Подготовка
                .item__text Подготовка – предварительный этап, на котором выдается техническое задание и собирается вся необходимая информация о деятельности компании, места, которое она занимает на рынке, перспективах развития и т.д.

          .six.columns
            .item
              .item__img.wow.bounceIn(data-wow-delay="0.25s")
                +number(2)
              .item__info
                .item__title Формирование стратегии
                .item__text Формирование стратегии и ее основной концепции - анализ собранных данных, формирование идеи относительно будущего фирменного имиджа, разработка несколько вариантов плана действий.

          .six.columns
            .item
              .item__img.wow.bounceIn
                +number(3)
              .item__info
                .item__title Выработка идеи

                .item__text Выработка идеи - здесь происходит выбор основной идеи, которая и будет основой для всех элементов фирменного стиля. Также сюда можно отнести создание звучного и запоминающегося названия компании, ее слогана. После чего все наработки передают заказчику для ознакомления и согласования.

          .six.columns
            .item
              .item__img.wow.bounceIn(data-wow-delay="0.25s")
                +number(4)
              .item__info
                .item__title Дизайнерские решения 
                .item__text Дизайнерские решения - тут осуществляется разработка графического воплощения выбранной идеи, определяется цветовая гамма, выбирается шрифт и тип подачи информации о компании.

          .six.columns
            .item
              .item__img.wow.bounceIn
                +number(5)
              .item__info
                .item__title Создание логотипа

                .item__text оздание логотипа – это следующий этап, к которому следует подходить внимательно и ответственно, ведь именно с его помощью воплощается идейное кредо фирмы. Более подробно о разработке фирменного логотипа можно 
                  a(href="") узнать тут.

          .six.columns
            .item
              .item__img.wow.bounceIn(data-wow-delay="0.25s")
                +number(6)
              .item__info
                .item__title Дизайн  и разработка элементов
                .item__text Создание и разработка основных носителей фирменного стиля предприятия - визитные карточки, конверты, бланки и другие элементы, без которых трудно представить себе деятельность фирмы.
        .brand-sales__block
            .item
              .item__img.wow.fadeIn
                span 7
              .item__info
                .item__title Brandbook
                .item__text Brandbook - завершающий этап создания фирменного стиля компании – это создание брендбука, который является основным документом для дальнейшего изготовления различной рекламной продукции. Этот этап является не основным. Но рекомендуемым поэтому в договоре с заказчиком он оговаривается отдельно и может быть выполнен только с его согласия.          

        .offer
          .offer__text Чем раньше вы решите разрабатывать фирменный стиль своего бизнеса,
          h6 тем быстрее ваш бренд будет зарабатывать вам деньги!

          .offer__btn
            .btn.btn-green ЗАКАЗАТЬ звонок специалиста


    section.section-approach.brand-elems
      .container
        .section__img
        .section__title Элементы  <br> фирменного стиля
        .brand-elems__img
          .brand-elems__img-roll.wow.slideInDown
            img(src="images/brand-elems-group-roll.png", alt="")

          .brand-elems__img-glasses.wow.zoomInLeft(data-wow-delay="0.5s")
            img(src="images/brand-elems-group-glasses.png", alt="") 

          .brand-elems__img-iphone
            .brand-elems__img-iphone-slogan.wow.zoomIn(data-wow-delay="1.5s")
              img(src="images/brand-elems-group-slogan.png", alt="") 
            .brand-elems__img-iphone-main.wow.zoomInRight(data-wow-delay="1s")
              img(src="images/brand-elems-group-iphone.png", alt="")
            

          .brand-elems__img-paper.wow.bounceInDown(data-wow-delay="0.5s")
            .brand-elems__img-paper-main
              img(src="images/brand-elems-group-paper.png", alt="")
              .brand-elems__img-paper-blank
                img(src="images/brand-elems-group-blank.png", alt="")
            
          .brand-elems__img-folder.wow.bounceInDown
            .brand-elems__img-folder-main
              img(src="images/brand-elems-group-folder.png", alt="")
              .brand-elems__img-folder-text
                img(src="images/brand-elems-group-folder-text.png", alt="")

          .brand-elems__img-envelope
            .brand-elems__img-envelope-main
              img.wow.zoomIn(data-wow-delay="1.5s", src="images/brand-elems-group-envelope.png", alt="")
              .brand-elems__img-envelope-pencil.wow.zoomInDown(data-wow-delay="1.75s")
                img(src="images/brand-elems-group-pencil.png", alt="")
              .brand-elems__img-envelope-text.wow.zoomInUp(data-wow-delay="2s")
                img(src="images/brand-elems-group-envelope-text.png", alt="")

          .brand-elems__img-card.wow.zoomIn(data-wow-delay="1s")
            img(src="images/brand-elems-group-card.png", alt="")


        .bg-light-yellow    
          .section-approach__list
            .block__title
              strong Кроме основных элементов,  
              span существуют также и дополнительные, разработку которых мы также можем предложить своим клиентам:
            ul 
              li Фирменная полиграфия (буклеты, плакаты, упаковка, в том числе и пакеты)
              li Сувенирная корпоративная продукция, POS-материалы
              li Мультимедийная презентация
              li Прайс-листы
            ul 
              li Разработка фирменной униформы для сотрудников
              li Брендирование автотранспортных средств компании
              li Оформление точек розничных продаж
              li Наружная реклама

        .section__text
          p Все эти элементы, как основные, так и дополнительные, важны для создания фирменного стиля предприятия, поскольку позволяют ей закрепить свои позиции на рынке, получить преимущество в конкурентной борьбе за клиентов.    

    section.manager-section.brand-manager
      .container
          .manager
            .manager__wrap
              .manager__left
                span
                  strong Чем раньше мы узнаем о задачах Вашего бизнеса,

                br
                span тем быстрее Вы получите нужный продукт!

                .manager__btn
                  .btn.btn-primary Назначить встречу
              .manager__right
                span
                  strong Ирина
                br
                span Специализация: маркетинг, бизнес-аналитика, стратегическое планирование, продажи
              .manager__img.wow.zoomInDown
                img(src="images/companyIrina.png", alt="")          

    section.portfolio.brand-portfolio
      .container
        .section__img
        .section__pre Примеры наших работ
        .section__title логотипы, КОТОРЫЕ сделали мы!
      .portfolio__wrap.clearfix
        figure.portfolio__item._main
          img(src="images/portf-brand-01.jpg", alt="MINSK GUIDE")
          figcaption.portfolio__info
            .portfolio__name “MINSK GUIDE”
            .portfolio__text Путеводитель по городу Минску
            .portfolio__btn 
              a.btn.btn-primary(href="") ПОДРОБНЕЕ
        figure.portfolio__item  
          img(src="images/portf-brand-02.jpg", alt="stilville")
          figcaption.portfolio__info
            .portfolio__name stilville
            .portfolio__text сайт 
            .portfolio__btn 
              a.btn.btn-primary(href="") ПОДРОБНЕЕ
        figure.portfolio__item  
          img(src="images/portf-brand-03.jpg", alt="")
          figcaption.portfolio__info
            .portfolio__name study
            .portfolio__text сайт 
            .portfolio__btn 
              a.btn.btn-primary(href="") ПОДРОБНЕЕ 
        figure.portfolio__item  
          img(src="images/portf-brand-04.jpg", alt="")
          figcaption.portfolio__info
            .portfolio__name foxstyle
            .portfolio__text сайт 
            .portfolio__btn 
              a.btn.btn-primary(href="") ПОДРОБНЕЕ
        figure.portfolio__item  
          img(src="images/portf-brand-05.jpg", alt="krasa-volos")
          figcaption.portfolio__info
            .portfolio__name krasa-volos
            .portfolio__text сайт 
            .portfolio__btn 
              a.btn.btn-primary(href="") ПОДРОБНЕЕ
      .container
        .offer
          .offer__title Хотите узнать сколько стоит заказать фирменный стиль в Минске?


          .offer__text ЗАКАЖИТЕ ЗВОНОК ЭКСПЕРТА И ПОЛУЧИТЕ ВЫГОДНОЕ ПРЕДЛОЖЕНИЕ!


          .offer__btn.wow.lightSpeedIn
            .btn.btn-primary Получить Выгоду