extends template
block content
  main.text
    section.banner.banner_default
      .banner__img.animated.fadeIn(style='background-image: url(images/clients.jpg)')
      .banner__info
        h1.banner__title Наши клиенты

      .breadcrumb
        ol
          li
            a(href='#') Главная
          li.active Наши клиенты

    section.text__content
      .container
        .section__title  Вы тоже можете появиться здесь
        .text__wrap
          .text__block
            p
              strong Проблемы несоответствия высоких позиций сайта в выдаче поисковиков и достаточно медленному росту трафика - весьма распространенное явление.При этом закономерно появляется еще один минус в виде отсутствия желаемого количества заказов.

            p Попробуем вместе разобраться с причинами такой ситуации и расставить правильные акценты на пути SEO-продвижения сайтов.

            h6 Актуальность запросов

            p Прежде всего, продвигая сайт и надеясь на положительный результат в виде многочисленных откликов и заказов, нужно научиться мыслить соответственно уровню среднестатистического покупателя. Неправильным решением будет отдавать первенство запросам, которые включают, по Вашему мнению, наиболее правильные ключи с профессиональной точки зрения. Ведь они могут быть совершенно чуждыми посетителям всемирной паутины. Не стоит применять полные названия услуг или сугубо профессиональную терминологию (этапы подготовки и монтажа гипсовой лепнины, правила подрезки смежных галтелей и т.п.). 

            p Продвижение сайта должно строиться на запросе, который включает понятное каждому клиенту краткое название предлагаемого продукта (к примеру, потолочный плинтус). В качестве ключевиков, которые вводятся на поисковых платформах, также часто встречаются дополнения в виде слов «купить», «цена» или названий конкретных городов для приобретения товара/услуги.
         
        .client__wrap
          - for (var i = 1; i < 11; i++) 
            .client__item
              .client__item-wrap
                .client__img.greyimg
                  img(src="images/clients/"+i+".png", alt="")
                .client__info
                  .client__title "РУП Белмедпрепараты"
                  .client__text Разработка корпоративного сайта компании  

        .text__wrap 
          .text__block
            p 
              | Прежде всего, продвигая сайт и надеясь на положительный результат в виде многочисленных откликов и заказов, нужно научиться мыслить соответственно уровню 
              strong
                a(href="") среднестатистического покупателя
              |  .Неправильным решением будет отдавать первенство запросам, которые включают, по Вашему мнению, наиболее правильные ключи с профессиональной точки зрения. Ведь они могут быть совершенно чуждыми посетителям всемирной паутины. Не стоит применять полные названия услуг или сугубо профессиональную терминологию (этапы подготовки и монтажа гипсовой лепнины, правила подрезки смежных галтелей и т.п.). 
            p
              strong Продвижение сайта 
              | должно строиться на запросе, который включает понятное каждому клиенту краткое название предлагаемого продукта (к примеру, потолочный плинтус). В качестве ключевиков, которые вводятся на поисковых платформах, также часто встречаются дополнения в виде слов «купить», «цена» или названий конкретных городов для приобретения товара/услуги.

        .client__wrap
          - for (var i = 1; i < 21; i++) 
            .client__item
              .client__item-wrap
                .client__img.greyimg
                  img(src="images/partner-"+i+".jpg", alt="")
                .client__info
                  .client__title "РУП Белмедпрепараты"
                  .client__text Разработка корпоративного сайта компании  
                  
        .client__btn.wow.lightSpeedIn
                a.btn.btn-green(href="") СТАТЬ  нашим КЛИЕНТОМ                   