extends template
block content
  main

    +banner('навигация по верстке','','навигация по верстке')

    section.about
      .container      
        .edit__content.clearfix
          ul
            li
              a(href='main.html', target='_blank') ссылка
              |  - Главная
            li
              a(href='services.html', target='_blank') ссылка
              |  - Услуги
            li
              a(href='portfolio.html', target='_blank') ссылка
              |  - Портфолио
            li
              a(href='project.html', target='_blank') ссылка
              |  - Проект              
            li
              a(href='news.html', target='_blank') ссылка
              |  - Новости                
            li
              a(href='text.html', target='_blank') ссылка
              |  - Текст                    
            li
              a(href='bitrix.html', target='_blank') ссылка
              |  - bitrix page
            li
              a(href='shop.html', target='_blank') ссылка
              |  - shop page                               
            li
              a(href='site.html', target='_blank') ссылка
              |  - site page   
            li
              a(href='soft.html', target='_blank') ссылка
              |  - soft page                             
            li
              a(href='mobile.html', target='_blank') ссылка
              |  - mobile page                
            li
              a(href='seo.html', target='_blank') ссылка
              |  - seo page                
            li
              a(href='logotype.html', target='_blank') ссылка
              |  - logotype page
            li
              a(href='brand.html', target='_blank') ссылка
              |  - brand page                                   
            li
              a(href='about.html', target='_blank') ссылка
              |  - about us page    
            li
              a(href='contacts.html', target='_blank') ссылка
              |  - contacts page    
            li
              a(href='order-main.html', target='_blank') ссылка
              |  - order-main page 
            li
              a(href='order-seo.html', target='_blank') ссылка
              |  - order-seo page               
            li
              a(href='clients.html', target='_blank') ссылка
              |  - clients page                 
            li
              a(href='1c.html', target='_blank') ссылка
              |  - 1c  integration   
            li
              a(href='bas.html', target='_blank') ссылка
              |  - BAS
            li
              a(href='bitrix24.html', target='_blank') ссылка
              |  - Bitrix24
            li
              a(href='landing.html', target='_blank') ссылка
              |  - Landing
            li
              a(href='corporate.html', target='_blank') ссылка
              |  - Корпоративный сайт
            li
              a(href='banner.html', target='_blank') ссылка
              |  - Баннеры
            li
              a(href='composite.html', target='_blank') ссылка
              |  - Композитный сайт