extends template
block content

  -var choose1="%3Csvg xmlns='http://www.w3.org/2000/svg' width='126' height='118' viewBox='0 0 126 118'%3E%3Cpath d='M464,5416.88h16.435v16.47H464v-16.47Zm109.565,0H590v16.47H573.565v-16.47ZM518.783,5362v16.46h16.434V5362H518.783ZM527,5431.98a4.115,4.115,0,1,0,4.109,4.11A4.112,4.112,0,0,0,527,5431.98Zm14.076-26.26c-2.931-6.84-5.4-13.74-7.174-19.02h-2.793v37.75a12.326,12.326,0,1,1-8.218,0V5386.7H520.1c-1.762,5.26-4.225,12.13-7.146,18.96-8.3,19.4-15.166,26.32-18.822,26.32v8.23c6.316,0,15.065,7.15,15.065,20.58H544.8c0-13.43,8.749-20.58,15.065-20.58v-8.23C556.219,5431.98,549.365,5425.08,541.076,5405.72Zm-38.728,63.3h49.3V5480h-49.3v-10.98Zm-27.888-102.9a5.409,5.409,0,0,0-3.612-1.38,5.49,5.49,0,0,0,0,10.98h0a5.45,5.45,0,0,0,3.615-1.37h22.486a59.348,59.348,0,0,0-26.52,34.3h8.636a51.268,51.268,0,0,1,31.5-31.55v-10.98H474.46Zm108.691,9.6h0a5.487,5.487,0,0,0,5.478-5.49,5.5,5.5,0,0,0-5.478-5.49,5.4,5.4,0,0,0-3.611,1.38H543.435v10.98a51.264,51.264,0,0,1,31.5,31.55h8.637a58.517,58.517,0,0,0-14.929-25.25,59.117,59.117,0,0,0-11.591-9.05h22.49A5.443,5.443,0,0,0,583.151,5375.72Z' transform='translate%28-464 -5362%29'/%3E%3C/svg%3E"; 

  -var choose2="%3Csvg xmlns='http://www.w3.org/2000/svg' width='115' height='110' viewBox='0 0 115 110'%3E%3Cpath d='M1003.43,5449.14l-4.319-4.49a3.027,3.027,0,0,0,1.089-5.94l-10.175-2.59a2.971,2.971,0,0,0-2.858.79,3.039,3.039,0,0,0-.788,2.88l2.571,10.27a3,3,0,0,0,2.909,2.29,3.123,3.123,0,0,0,.738-0.09,3.027,3.027,0,0,0,2.237-3.36l4.288,4.46a2.993,2.993,0,0,0,4.248.07A3.051,3.051,0,0,0,1003.43,5449.14Zm-49.869-33.42a1.279,1.279,0,0,0-1.2-.84h-2.171a1.288,1.288,0,0,0-1.2.85l-7.535,20.43a1.3,1.3,0,0,0,.149,1.19,1.283,1.283,0,0,0,1.056.56h1.961a1.288,1.288,0,0,0,1.206-.85l2.229-6.04h6.513l2.259,6.05a1.3,1.3,0,0,0,1.2.84H960a1.292,1.292,0,0,0,1.286-1.3,1.353,1.353,0,0,0-.137-0.59Zm-3.87,10.85,1.595-4.32,1.615,4.32h-3.21Zm20.323-11.78h-5.577a1.293,1.293,0,0,0-1.287,1.3v20.39a1.292,1.292,0,0,0,1.287,1.3h5.577A11.5,11.5,0,1,0,970.014,5414.79Zm0,18.54h-2.453v-14.09h2.453A7.047,7.047,0,1,1,970.014,5433.33ZM1012.82,5364H910.181a6.218,6.218,0,0,0-6.181,6.24v97.52a6.218,6.218,0,0,0,6.181,6.24H1012.82a6.216,6.216,0,0,0,6.18-6.24v-97.52A6.216,6.216,0,0,0,1012.82,5364Zm-12.23,9.56a5.17,5.17,0,1,1-5.123,5.17A5.154,5.154,0,0,1,1000.59,5373.56Zm-17.369,0a5.17,5.17,0,1,1-5.121,5.17A5.153,5.153,0,0,1,983.221,5373.56Zm-63.539,2.5h20.662a2.67,2.67,0,0,1,0,5.34H919.682A2.67,2.67,0,0,1,919.682,5376.06Zm89.5,87.13a0.813,0.813,0,0,1-.8.82H914.624a0.816,0.816,0,0,1-.806-0.82v-67.16h95.362v67.16Z' transform='translate%28-904 -5364%29'/%3E%3C/svg%3E%0A"; 

  -var choose3="%3Csvg xmlns='http://www.w3.org/2000/svg' width='143' height='141' viewBox='-234 326 143 141'%3E%3Cpath d='M-110.43,409.34c0.127,0.004,0.255-0.006,0.38-0.03c1.574-0.229,2.664-1.69,2.435-3.265 c-0.229-1.574-1.691-2.665-3.265-2.436s-2.664,1.691-2.435,3.265C-113.107,408.303-111.874,409.357-110.43,409.34z M-129.21,371.28 c0.965-1.331,0.68-3.19-0.64-4.17c-1.328-0.98-3.2-0.698-4.18,0.63c-0.98,1.329-0.698,3.2,0.63,4.18 c0.499,0.36,1.095,0.562,1.71,0.58C-130.715,372.517-129.792,372.063-129.21,371.28L-129.21,371.28z M-195,367.02 c-1.336,0.971-1.636,2.84-0.67,4.18c0.562,0.76,1.445,1.218,2.39,1.24c0.642,0.003,1.27-0.188,1.8-0.55 c1.345-0.972,1.647-2.85,0.675-4.195C-191.777,366.351-193.655,366.048-195,367.02L-195,367.02L-195,367.02z M-142.45,456.8 L-142.45,456.8c-1.505,0.672-2.18,2.438-1.508,3.943c0.473,1.06,1.518,1.749,2.678,1.767c0.439-0.005,0.874-0.093,1.28-0.26 c1.514-0.658,2.208-2.417,1.55-3.931c-0.657-1.514-2.418-2.208-3.931-1.55C-142.404,456.779-142.427,456.789-142.45,456.8 L-142.45,456.8z M-209.37,388.12c0.442,0.263,0.946,0.405,1.46,0.41c1.082,0.018,2.09-0.548,2.64-1.48 c0.843-1.408,0.386-3.232-1.021-4.076c-1.408-0.843-3.232-0.386-4.076,1.021c-0.015,0.024-0.029,0.049-0.043,0.074 c-0.841,1.368-0.413,3.159,0.955,4C-209.427,388.087-209.399,388.104-209.37,388.12L-209.37,388.12z M-162.54,461.03 c-1.649-0.017-2.999,1.307-3.015,2.955s1.306,2.999,2.955,3.015h0.06c0.937,1.356,4.661,0.408,6.017-0.529 c1.356-0.937,1.696-2.796,0.759-4.152c-0.937-1.356-2.796-1.696-4.153-0.759C-160.213,461.764-160.47,462.021-162.54,461.03 L-162.54,461.03z M-117.12,388.68c1.647,0.036,3.011-1.271,3.047-2.918c0.035-1.647-1.271-3.011-2.918-3.047 c-1.647-0.035-3.011,1.271-3.046,2.918c-0.012,0.538,0.122,1.069,0.388,1.537C-119.134,388.086-118.171,388.661-117.12,388.68 L-117.12,388.68z M-214.95,409.26c0.09,0,0.17,0.03,0.26,0.03c1.544,0.014,2.85-1.137,3.03-2.67v-0.09 c0.177-1.64-1.01-3.113-2.65-3.29s-3.113,1.01-3.29,2.65l0,0v0.09c-0.184,1.625,0.984,3.091,2.608,3.276 C-214.978,409.257-214.964,409.258-214.95,409.26L-214.95,409.26z M-182.64,456.77c-1.496-0.695-3.271-0.045-3.966,1.451 c-0.695,1.496-0.045,3.271,1.45,3.966c0.025,0.012,0.05,0.023,0.076,0.034c0.364,0.167,0.76,0.255,1.16,0.26 c1.648,0.034,3.012-1.274,3.046-2.923C-180.849,458.357-181.545,457.26-182.64,456.77L-182.64,456.77z M-200.06,446.04 c-2.641-0.97-5.183-2.192-7.59-3.65l-3.64,11.51l-0.49,1.56l-1.63-4.61c3.75-5.21-0.29-5.48-0.99-5.48l0,0 c-0.7,0-4.74,0.27-0.99,5.48l-1.63,4.61l-0.49-1.56l-3.66-11.51c-2.41,1.459-4.955,2.681-7.6,3.65c-5.23,1.89-4.88,6.18-5,14.2 h38.74C-195.17,452.22-194.85,447.93-200.06,446.04L-200.06,446.04z M-222.66,435.08c0.562,3.33,2.822,6.124,5.96,7.37 c1.415,0.49,2.955,0.49,4.37,0c3.114-1.263,5.363-4.033,5.96-7.34c0.46-0.03,1.05-0.66,1.69-2.95c0.87-3.11-0.06-3.57-0.85-3.51 c0.141-0.419,0.258-0.847,0.35-1.28c1.34-8.06-2.65-8.34-2.65-8.34c-0.568-0.955-1.393-1.73-2.38-2.24 c-1.49-0.854-3.212-1.218-4.92-1.04c-0.662,0.032-1.315,0.16-1.94,0.38l0,0c-0.773,0.25-1.502,0.622-2.16,1.1 c-0.814,0.511-1.557,1.126-2.21,1.83c-1.171,1.155-2.004,2.607-2.41,4.2c-0.31,1.344-0.299,2.741,0.03,4.08l0,0 c0.087,0.434,0.204,0.862,0.35,1.28c-0.79-0.09-1.75,0.38-0.85,3.51C-223.7,434.42-223.09,435.06-222.66,435.08L-222.66,435.08z M-96.21,446.04c-2.641-0.97-5.183-2.192-7.59-3.65l-3.63,11.51l-0.5,1.56l-1.62-4.61c3.75-5.21-0.3-5.48-0.99-5.48l0,0 c-0.7,0-4.74,0.27-0.99,5.48l-1.63,4.61l-0.5-1.56l-3.66-11.51c-2.407,1.458-4.948,2.68-7.59,3.65c-5.24,1.89-4.89,6.18-5,14.2 h38.74C-91.32,452.22-91,447.93-96.21,446.04L-96.21,446.04z M-118.8,435.08c0.558,3.332,2.819,6.127,5.96,7.37 c1.412,0.49,2.948,0.49,4.36,0c3.116-1.26,5.366-4.032,5.96-7.34c0.47-0.03,1.05-0.66,1.69-2.95c0.87-3.11-0.06-3.57-0.84-3.51 c0.14-0.44,0.26-0.87,0.35-1.28c1.33-8.06-2.65-8.34-2.65-8.34c-0.582-0.947-1.407-1.721-2.39-2.24 c-1.487-0.854-3.205-1.217-4.91-1.04c-0.665,0.031-1.322,0.159-1.95,0.38l0,0c-0.769,0.253-1.495,0.624-2.15,1.1 c-0.815,0.508-1.559,1.124-2.21,1.83c-2.236,2.124-3.15,5.291-2.39,8.28l0,0c0.092,0.433,0.209,0.86,0.35,1.28 c-0.78-0.09-1.74,0.38-0.84,3.51C-119.85,434.42-119.27,435.06-118.8,435.08L-118.8,435.08z M-162.49,370.53h19.34 c-0.11-8.03,0.24-12.32-5-14.2c-2.643-0.97-5.185-2.196-7.59-3.66l-3.66,11.51l-0.5,1.57l-1.63-4.61c3.76-5.22-0.29-5.48-0.98-5.48 l0,0c-0.7,0-4.75,0.26-0.99,5.48l-1.63,4.61l-0.5-1.57l-3.66-11.51c-2.405,1.464-4.947,2.69-7.59,3.66c-5.24,1.88-4.89,6.17-5,14.2 H-162.49z M-170.72,345.37c0.57,3.327,2.832,6.116,5.97,7.36c1.412,0.49,2.948,0.49,4.36,0c3.11-1.262,5.359-4.028,5.96-7.33 c0.47-0.03,1.05-0.67,1.69-2.96c0.87-3.1-0.06-3.56-0.85-3.51c0.145-0.415,0.262-0.839,0.35-1.27c1.34-8.06-2.64-8.35-2.64-8.35 c-0.581-0.945-1.407-1.716-2.39-2.23c-1.484-0.862-3.203-1.229-4.91-1.05c-0.664,0.036-1.321,0.164-1.95,0.38l0,0 c-0.769,0.255-1.494,0.626-2.15,1.1c-0.815,0.509-1.558,1.124-2.21,1.83c-1.177,1.151-2.014,2.604-2.42,4.2 c-0.31,1.347-0.3,2.748,0.03,4.09l0,0c0.089,0.431,0.206,0.855,0.35,1.27c-0.79-0.08-1.75,0.38-0.84,3.51 C-171.76,344.7-171.18,345.34-170.72,345.37L-170.72,345.37z'/%3E%3Cpath d='M-164.186,394.743c0.464-0.897,1.567-1.249,2.464-0.786c0.337,0.174,0.612,0.449,0.786,0.786l5.82,11.6 c0.265,0.53,0.773,0.896,1.36,0.98l13.01,1.86c0.676,0.096,1.241,0.563,1.46,1.21c0.214,0.645,0.034,1.354-0.46,1.82l-9.41,9.04 c-0.428,0.401-0.623,0.992-0.52,1.57l2.22,12.75c0.118,0.673-0.162,1.355-0.72,1.75c-0.563,0.395-1.299,0.445-1.91,0.13l-11.64-6.02 c-0.527-0.27-1.153-0.27-1.68,0l-11.64,6.02c-0.608,0.315-1.341,0.266-1.9-0.13c-0.558-0.395-0.838-1.077-0.72-1.75l2.22-12.75 c0.099-0.577-0.096-1.166-0.52-1.57l-9.42-9.04c-0.49-0.468-0.668-1.175-0.46-1.82c0.222-0.645,0.785-1.111,1.46-1.21l13.02-1.86 c0.587-0.084,1.095-0.45,1.36-0.98L-164.186,394.743z'/%3E%3C/svg%3E%0A"; 

  -var choose4="%3Csvg xmlns='http://www.w3.org/2000/svg' width='153' height='108' viewBox='0 0 153 108'%3E%0A  %3Cdefs%3E%0A    %3Cstyle%3E%0A      .cls-1 %7B%0A        fill-rule: evenodd;%0A      %7D%0A    %3C/style%3E%0A  %3C/defs%3E%0A  %3Cpath id='Forma_1' data-name='Forma 1' class='cls-1' d='M599.092,9634.69a3.076,3.076,0,0,0-2.364-.91c-9.848.48-19.62-2.37-25.646-4.61-0.419,8.58-.846,17.12-1.193,21.48-0.778,9.81-6.9,20.49-18.192,31.76-2.873,2.86-5.821,5.51-8.642,7.88a126.07,126.07,0,0,0,20.247,17.16,3.115,3.115,0,0,0,3.528,0c6.687-4.57,30.159-21.7,31.426-37.64,0.492-6.2,1.187-22.67,1.742-32.76A3.088,3.088,0,0,0,599.092,9634.69ZM477.11,9650.65c-0.346-4.36-.772-12.9-1.193-21.48-6.026,2.24-15.8,5.09-25.645,4.61a3.114,3.114,0,0,0-3.271,3.27c0.556,10.09,1.25,26.56,1.742,32.76,1.267,15.94,24.74,33.07,31.427,37.64a3.114,3.114,0,0,0,3.527,0,126.023,126.023,0,0,0,20.248-17.16c-2.821-2.37-5.77-5.02-8.641-7.88C484.01,9671.14,477.889,9660.46,477.11,9650.65Zm85.154-.6c0.574-7.23,1.385-26.48,2.034-38.26a3.631,3.631,0,0,0-1.055-2.76,3.682,3.682,0,0,0-2.584-1.07c-0.061,0-.121.01-0.181,0.01q-1.312.06-2.621,0.06c-14.516,0-28.369-5.68-32.852-7.71a3.7,3.7,0,0,0-3.01,0c-4.481,2.03-18.337,7.71-32.853,7.71-0.873,0-1.745-.02-2.621-0.06-0.06,0-.12-0.01-0.179-0.01a3.679,3.679,0,0,0-2.583,1.07,3.64,3.64,0,0,0-1.057,2.76c0.649,11.78,1.459,31.02,2.035,38.26,1.479,18.62,28.894,38.63,36.7,43.97a3.683,3.683,0,0,0,4.12,0C533.37,9688.68,560.784,9668.67,562.264,9650.05Zm-20.967-9.6-6.036,5.87a4.439,4.439,0,0,0-1.286,3.94l1.425,8.29a1.607,1.607,0,0,1-.647,1.58,1.628,1.628,0,0,1-1.711.13l-7.462-3.91a4.439,4.439,0,0,0-4.16,0l-7.462,3.91a1.628,1.628,0,0,1-1.711-.13,1.605,1.605,0,0,1-.647-1.58l1.425-8.29a4.439,4.439,0,0,0-1.286-3.94l-6.037-5.87a1.616,1.616,0,0,1,.9-2.76l8.342-1.21a4.482,4.482,0,0,0,3.366-2.44l3.731-7.54a1.63,1.63,0,0,1,2.915,0l3.731,7.54a4.484,4.484,0,0,0,3.366,2.44l8.343,1.21A1.615,1.615,0,0,1,541.3,9640.45Z' transform='translate%28-447 -9600%29'/%3E%0A%3C/svg%3E%0A"; 

  -var choose5="%3Csvg xmlns='http://www.w3.org/2000/svg' width='161' height='100' viewBox='0 0 161 100'%3E%0A  %3Cdefs%3E%0A    %3Cstyle%3E%0A      .cls-1 %7B%0A        fill-rule: evenodd;%0A      %7D%0A    %3C/style%3E%0A  %3C/defs%3E%0A  %3Cpath id='Forma_1' data-name='Forma 1' class='cls-1' d='M493.663,9086c-4.405,0-5.758,5.44-6.766,11.02-0.909,5.03-1.643,11.74-2.353,18.23-0.622,5.7-1.455,13.31-2.4,18.45-0.749-3.67-1.417-8.48-1.93-12.18-0.687-4.95-1.4-10.06-2.3-13.93-0.671-2.87-2.067-8.86-6.7-8.86-4.375,0-6.068,5.08-6.625,6.75a90.135,90.135,0,0,0-2.389,10.04,82.389,82.389,0,0,1-2.412,9.96c-0.582-1.31-1.179-3.14-1.561-4.31-1.539-4.73-3.131-9.61-7.676-9.61H437v6.9h12.777a31.636,31.636,0,0,1,1.849,4.84c1.584,4.85,3.378,10.36,8.369,10.36,4.376,0,6.07-5.08,6.627-6.74a90.106,90.106,0,0,0,2.39-10.05c0.494-2.47,1.2-6,1.953-8.55,0.925,3.75,1.758,9.74,2.369,14.14,0.687,4.95,1.4,10.06,2.3,13.93,0.671,2.88,2.067,8.86,6.7,8.86,4.4,0,5.757-5.44,6.765-11.02,0.908-5.02,1.642-11.74,2.352-18.23,0.62-5.67,1.449-13.25,2.392-18.39,0.774,3.8,1.467,8.83,2,12.69,0.523,3.8.993,7.21,1.5,10.17a38.737,38.737,0,0,1,4.844-14.91C500.451,9093.28,498.969,9086,493.663,9086Zm36.925,35.44a64.227,64.227,0,0,0-2.612,9.9c-0.107.52-.227,1.09-0.355,1.68-0.786-3.06-1.523-7-2.052-9.82-0.787-4.2-1.494-7.97-2.359-11.05a18.22,18.22,0,0,0-4.929,9.86c0.167,0.87.323,1.7,0.463,2.45,2.127,11.36,3.664,19.56,9.354,19.56,3.523,0,4.741-3.7,5.141-4.92a62.634,62.634,0,0,0,1.534-6.36,72,72,0,0,1,1.908-7.76c0.831-2.48,1.522-3.23,1.73-3.41h12.4v-6.9H538.263C534.941,9114.67,532.358,9116.95,530.588,9121.44Zm64.7,48.87-23.845-23.71a9.223,9.223,0,0,0-6.38-2.69,34.024,34.024,0,0,0-4.234-43.12,34.474,34.474,0,0,0-48.508,0,34.016,34.016,0,0,0,0,48.24,34.488,34.488,0,0,0,43.361,4.21,9.145,9.145,0,0,0,2.7,6.35l23.846,23.71a9.265,9.265,0,0,0,13.06,0A9.15,9.15,0,0,0,595.289,9170.31Zm-41.922-28.7a23.863,23.863,0,0,1-33.583,0,23.555,23.555,0,0,1,0-33.4,23.863,23.863,0,0,1,33.583,0A23.553,23.553,0,0,1,553.367,9141.61Z' transform='translate%28-437 -9086%29'/%3E%0A%3C/svg%3E%0A";

  -var choose6="%3Csvg xmlns='http://www.w3.org/2000/svg' width='97' height='121' viewBox='0 0 97 121'%3E%0A  %3Cdefs%3E%0A    %3Cstyle%3E%0A      .cls-1 %7B%0A        fill-rule: evenodd;%0A      %7D%0A    %3C/style%3E%0A  %3C/defs%3E%0A  %3Cpath class='cls-1' d='M1436.76,9645.77l-1.49-2.03a6.363,6.363,0,0,1-.05-7.5l1.46-2.06a6.432,6.432,0,0,0-2.21-9.38l-2.24-1.19a6.412,6.412,0,0,1-3.3-6.73l0.42-2.5a6.417,6.417,0,0,0-6.09-7.48l-2.53-.1a6.453,6.453,0,0,1-5.92-4.63l-0.69-2.42a6.438,6.438,0,0,0-8.75-4.11l-2.34.99a6.464,6.464,0,0,1-7.35-1.61l-1.69-1.88a6.469,6.469,0,0,0-9.67.07l-1.67,1.91a6.494,6.494,0,0,1-7.33,1.73l-2.33-.96a6.449,6.449,0,0,0-8.68,4.23l-0.67,2.43a6.468,6.468,0,0,1-5.84,4.72l-2.53.15a6.421,6.421,0,0,0-5.97,7.58l0.45,2.47a6.435,6.435,0,0,1-3.21,6.79l-2.21,1.23a6.417,6.417,0,0,0-2.09,9.41l1.49,2.03a6.363,6.363,0,0,1,.05,7.5l-1.46,2.06a6.425,6.425,0,0,0,2.21,9.38l2.24,1.19a6.412,6.412,0,0,1,3.3,6.73l-0.42,2.5a6.417,6.417,0,0,0,6.09,7.48l2.53,0.09a6.479,6.479,0,0,1,5.92,4.63l0.69,2.43a6.451,6.451,0,0,0,8.75,4.11l2.34-.99a6.464,6.464,0,0,1,7.35,1.61l1.69,1.88a6.462,6.462,0,0,0,9.67-.08l1.67-1.9a6.494,6.494,0,0,1,7.33-1.73l2.33,0.96a6.449,6.449,0,0,0,8.68-4.23l0.67-2.43a6.478,6.478,0,0,1,5.84-4.73l2.53-.14a6.426,6.426,0,0,0,5.97-7.58l-0.45-2.48a6.428,6.428,0,0,1,3.21-6.78l2.21-1.24A6.4,6.4,0,0,0,1436.76,9645.77Zm-47.3,26.73a32.18,32.18,0,1,1,32.31-32.18A32.275,32.275,0,0,1,1389.46,9672.5Zm33.75,7.9-1.12.07-0.54,1.98a13.6,13.6,0,0,1-18.27,8.94l-1.89-.79-0.59.69,9.22,16.71a3.741,3.741,0,0,0,2.58,1.86l11.11,2.05a3.747,3.747,0,0,0,4.15-2.27l4.2-10.45a3.64,3.64,0,0,0-.2-3.17Zm-46.79,11.16a13.293,13.293,0,0,1-5.37,1.12,13.62,13.62,0,0,1-13.05-9.76l-0.57-1.95-1.99-.07-8.35,15.15a3.617,3.617,0,0,0-.2,3.16l4.2,10.45a3.743,3.743,0,0,0,4.15,2.28l11.11-2.06a3.757,3.757,0,0,0,2.58-1.85l9.47-17.16-0.07-.07Zm31.66-53.05s1.86-2.89-.55-5.1c-3.01-2.74-11.18-.91-11.18-0.91h0c-0.58.1-1.17,0.22-1.82,0.37,0,0-2.83,1.31,0-7.23s-1.89-9.88-3.87-9.88-1.32,4.24-1.32,4.24-4.25,11.66-8.3,14.75a9.182,9.182,0,0,0-1.97,3.29,3.637,3.637,0,0,0-2.36-.86h-5.44a3.626,3.626,0,0,0-3.63,3.61v14.46a3.625,3.625,0,0,0,3.63,3.61h5.44a3.523,3.523,0,0,0,2.02-.62,3.785,3.785,0,0,0,.84-2.84v-8.99c0,0.35.05,11.14,6.29,11.81,2.24,0.15,4.99.27,7.75,0.22a27.435,27.435,0,0,0,7.31-.22c7.21-1.54,5.42-6.54,5.42-6.54a4.913,4.913,0,0,0,1.69-6.56A4.411,4.411,0,0,0,1408.08,9638.51Z' transform='translate%28-1341 -9591%29'/%3E%0A%3C/svg%3E%0A"; 


  - var targerMail = '<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 55 49"><path fill="#ffbc1a" d="M447,2177.57v31.21l17.024-15.61Zm46.572-2.57H449.8l21.884,20.06Zm-10.735,21.37a15.88,15.88,0,0,1,13.538.03v-18.83l-17.024,15.6Zm-3.329,2.08-2.96-2.71-4.861,4.46-4.86-4.46-17.024,15.6h23.589A16.572,16.572,0,0,1,479.508,2198.45Zm10.063,0.24A12.657,12.657,0,1,0,502,2211.34,12.558,12.558,0,0,0,489.571,2198.69Zm-1.556,19.6-7.351-7.49,2.652-2.7,4.7,4.79,7-7.14,2.652,2.7Z" transform="translate(-447 -2175)"/></svg>'
  
  - var targerCart = '<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 59 59">  <path fill="#ffbc1a" d="M802.2,2191.75a16.218,16.218,0,0,1-4.794-11.46h-13.6l-2.132-9.15-11.549-3.96L768,2173.37l8.116,2.78,5.772,24.78,1.975,8.71h34.365l3.424-15.1A16.387,16.387,0,0,1,802.2,2191.75Zm-11.783,21.36a6.445,6.445,0,1,1-6.455,6.44A6.446,6.446,0,0,1,790.418,2213.11Zm21.255,0a6.445,6.445,0,1,1-6.456,6.44A6.446,6.446,0,0,1,811.673,2213.11Zm2.116-19.73h0a13.19,13.19,0,1,0,0-26.38h0A13.19,13.19,0,1,0,813.789,2193.38Zm-4.322-14.32,2.509,2.51,6.142-6.13,2.247,2.24-8.389,8.38-4.757-4.75Z" transform="translate(-768 -2167)"/></svg>'

  - var targetService = '<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 64 65">  <path fill="#ffbc1a" d="M1146.99,2221.49v-4.21c0-2.86-1.68-4.54-4.57-4.54h-28.73c-3.87,0-5.87,1.83-5.87,4.54v5.47c0,2.84,1.91,4.25,5.87,4.25h28.73C1145.31,2227,1146.99,2225.1,1146.99,2221.49Zm-5.22.33h-28.73v-3.89h28.73v3.89Zm-16.98-38.89v12.4h0l1.67,4.45h-2.8L1096.34,2162l-6.02,3.6,1.83,3.17v16.75h-1.93l1.29,9.07h0.64v2.74a3.969,3.969,0,0,0-2.49,3.72,3.825,3.825,0,0,0,1.33,3.04l-7.08,6.06h2l6.27-5.37a4.99,4.99,0,0,0,1.78.35,3.7,3.7,0,0,0,1.74-.45l6.8,5.47h2.04l0.02-.02-7.83-6.29a3.924,3.924,0,0,0,.88-2.57,1.305,1.305,0,0,0-2.61,0,1.347,1.347,0,0,1-.29.94l-0.36-.29a0.649,0.649,0,0,0-.83.02l-0.49.41a1.274,1.274,0,0,1-.75-1.3,1.6,1.6,0,0,1,1.39-1.5,1.3,1.3,0,0,0,1.09-1.28v-3.68h1.45l1.82-9.07h-1.97v-9.41l15.67,29.94v1.51h5.23v2.59h19.59v-2.59h7.83v-24.63h-19.59Zm-11.29,6.74,0.01,0.02-5.33,3.44,2.74-6.98Zm-18.74-4.15h-1.31v-14.3l1.31,2.44v11.86Zm1.13-13.22-2.25-4.25,3.51-2.29Zm3.06-3.89,2.5,4.31-4.04,2.59Zm0.4,9.38,3.81-2.46-1.49,6.73Zm5.42-.27,2.81,4.07-4.22,2.69Zm-0.43,9.85,4.72-3.21-2.69,7.15Zm6.98,12.33-2.27-3.99,5.65-4Zm1.77,2.83,3.87-8.26,3.14,4.25Zm26.07-6.64h-9.14v-7.78h9.14v7.78Zm-54.85,22.04H1083v2.59h20.9v-2.59h-2.61v-3.89h2.61v-2.59H1083v2.59h2.62v3.89h-1.31Zm22.2-27.23h0" transform="translate(-1083 -2162)"/></svg>'

  - var targerEvent = '<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 66 67">  <path fill="#ffbc1a" d="M1428.07,2225.46l0.02-.04a3.422,3.422,0,0,1,1.88-1.71l2.86-1.32,0.15-.13c-0.1-.12-0.21-0.25-0.31-0.38a10.914,10.914,0,0,1-2.07-6.48l-0.39-.18-1.47-1.24-2.37,2.36h-0.28l-2.36-2.36-1.48,1.24-3.07,1.42a1.992,1.992,0,0,0-1.12.96s-3.34,7.96-1.53,7.96h11.5A0.267,0.267,0,0,0,1428.07,2225.46Zm-7.37-18.7c0.05,4.92,2.79,7.85,5.53,7.85,2.34,0,5.48-2.93,5.53-7.85,0.03-3.41-1.58-5.45-5.53-5.45S1420.66,2203.35,1420.7,2206.76Zm24.56,16.95a3.41,3.41,0,0,1,1.9,1.76,0.369,0.369,0,0,0,.04.09h3.6a0.267,0.267,0,0,0,.04-0.1l0.02-.04a3.422,3.422,0,0,1,1.88-1.71l2.86-1.32,0.15-.13c-0.11-.12-0.21-0.25-0.31-0.38a10.914,10.914,0,0,1-2.07-6.48l-0.39-.18-1.47-1.24-2.37,2.36h-0.28l-2.37-2.36-1.47,1.24-0.4.18a10.752,10.752,0,0,1-2.23,6.5c-0.07.1-.15,0.19-0.23,0.29l0.24,0.2Zm3.74-9.1c2.34,0,5.48-2.93,5.53-7.85,0.03-3.41-1.59-5.45-5.53-5.45s-5.56,2.04-5.53,5.45C1443.52,2211.68,1446.26,2214.61,1449,2214.61Zm30.94,2.99a2,2,0,0,0-1.12-.96l-3.07-1.42-1.48-1.24-2.36,2.36h-0.28l-2.37-2.36-1.47,1.24-0.4.18a10.752,10.752,0,0,1-2.23,6.5c-0.08.1-.15,0.19-0.24,0.29l0.25,0.2,2.86,1.32a3.41,3.41,0,0,1,1.9,1.76,0.369,0.369,0,0,0,.04.09h11.5C1483.28,2225.56,1479.94,2217.6,1479.94,2217.6Zm-13.7-10.84c0.05,4.92,2.79,7.85,5.53,7.85,2.34,0,5.48-2.93,5.53-7.85,0.03-3.41-1.59-5.45-5.53-5.45S1466.2,2203.35,1466.24,2206.76Zm-21.58,18.32-3.07-1.42-1.47-1.24-2.37,2.36h-0.27l-2.37-2.36-1.47,1.24-3.07,1.42a2.006,2.006,0,0,0-1.13.96s-3.33,7.96-1.52,7.96h19.39c1.81,0-1.52-7.96-1.52-7.96A1.986,1.986,0,0,0,1444.66,2225.08Zm-7.05-15.33c-3.94,0-5.56,2.04-5.53,5.45,0.06,4.92,2.8,7.85,5.53,7.85,2.34,0,5.48-2.93,5.54-7.85C1443.18,2211.79,1441.56,2209.75,1437.61,2209.75Zm29.82,15.33-3.07-1.42-1.47-1.24-2.37,2.36h-0.27l-2.37-2.36-1.47,1.24-3.07,1.42a2.006,2.006,0,0,0-1.13.96s-3.33,7.96-1.52,7.96h19.39c1.81,0-1.52-7.96-1.52-7.96A1.986,1.986,0,0,0,1467.43,2225.08Zm-7.05-2.03c2.34,0,5.48-2.93,5.54-7.85,0.03-3.41-1.59-5.45-5.54-5.45s-5.56,2.04-5.53,5.45C1454.91,2220.12,1457.65,2223.05,1460.38,2223.05Zm-13.3-34.88a0.583,0.583,0,0,0,.26.06,0.543,0.543,0,0,0,.34-0.12l5.84-4.48a0.559,0.559,0,0,0,.23-0.45,0.573,0.573,0,0,0-.23-0.45l-5.84-4.48a0.563,0.563,0,0,0-.91.45v8.96A0.571,0.571,0,0,0,1447.08,2188.17Zm-28.01,11.19h59.86a0.785,0.785,0,0,0,.79-0.79v-30.78a0.785,0.785,0,0,0-.79-0.79h-59.86a0.785,0.785,0,0,0-.79.79v30.78A0.785,0.785,0,0,0,1419.07,2199.36Zm29.93-25.4a9.22,9.22,0,1,1-9.2,9.22A9.212,9.212,0,0,1,1449,2173.96Z" transform="translate(-1416 -2167)"/></svg>'  

  -var why1='<svg xmlns="http://www.w3.org/2000/svg" width="44.031" height="44" viewBox="0 0 44.031 44">  <path d="M651.775,3165.47a17.854,17.854,0,1,0-25.248-25.25,17.511,17.511,0,0,0-2.686,21.55,0.743,0.743,0,0,1-.1.89c-2.277,2.28-9.109,9.11-9.109,9.11-1.813,1.81-2.245,4.35-.637,5.96l0.277,0.27c1.608,1.61,4.143,1.18,5.956-.63,0,0,6.817-6.82,9.089-9.09a0.766,0.766,0,0,1,.914-0.13A17.5,17.5,0,0,0,651.775,3165.47Zm-21.952-3.3a13.19,13.19,0,1,1,18.656,0A13.2,13.2,0,0,1,629.823,3162.17Zm1.139-10.39a1.817,1.817,0,0,1-.717-0.14,1.848,1.848,0,0,1-.979-2.42,11.615,11.615,0,0,1,15.2-6.16,1.845,1.845,0,0,1-1.436,3.4,7.913,7.913,0,0,0-10.373,4.2A1.843,1.843,0,0,1,630.962,3151.78Z" transform="translate(-613 -3135)"/></svg>';  
  -var why2='<svg xmlns="http://www.w3.org/2000/svg" width="47" height="43" viewBox="0 0 47 43">  <path d="M979.96,3146.67l-1.584-.56-0.634-4.69a5.422,5.422,0,0,0-5.155-4.74,5.591,5.591,0,0,0-.913.05l-14.046,2-9.975-3.56a3.043,3.043,0,0,0-3.879,1.92l-1.287,3.79-1.92.27a5.42,5.42,0,0,0-3.552,2.13,5.567,5.567,0,0,0-1.037,4.08l1.229,9.03-2.036,5.97a3.14,3.14,0,0,0,1.872,3.97l1.585,0.56,0.633,4.69a5.415,5.415,0,0,0,5.156,4.74,5.579,5.579,0,0,0,.912-0.05l14.046-2,9.976,3.55a3.03,3.03,0,0,0,3.879-1.91l1.286-3.78,1.921-.28a5.466,5.466,0,0,0,4.579-6.19l-1.229-9.04,2.036-5.97A3.135,3.135,0,0,0,979.96,3146.67Zm-39.23-.52a0.711,0.711,0,0,1,.471-0.28l31.117-4.42a0.524,0.524,0,0,1,.125-0.01,0.7,0.7,0,0,1,.681.63l2.458,18.12-6.605-5.11a1.474,1.474,0,0,0-2.093.29l-4.215,5.7-9.813-7.6a1.474,1.474,0,0,0-2.093.29l-7.786,10.53-2.391-17.6A0.736,0.736,0,0,1,940.73,3146.15Zm21.171-.57a3.616,3.616,0,1,1-3.534,3.61A3.575,3.575,0,0,1,961.9,3145.58Z" transform="translate(-935 -3135)"/></svg>'; 
  -var why3='<svg xmlns="http://www.w3.org/2000/svg" width="40" height="46" viewBox="0 0 40 46">  <path d="M1293.5,3165.67a7.3,7.3,0,0,0-4.56,1.59l-13.05-8.01a7.266,7.266,0,0,0,.11-1.25,7.473,7.473,0,0,0-.11-1.26l13.05-8a7.3,7.3,0,0,0,4.56,1.59,7.667,7.667,0,1,0-7.5-7.66,7.447,7.447,0,0,0,.11,1.25l-13.05,8a7.358,7.358,0,0,0-4.56-1.59,7.672,7.672,0,0,0,0,15.34,7.358,7.358,0,0,0,4.56-1.59l13.05,8a7.355,7.355,0,0,0-.11,1.25A7.5,7.5,0,1,0,1293.5,3165.67Z" transform="translate(-1261 -3135)"/></svg>'; 

  main.landing
    section.banner.banner_default
      .banner__img.animated.fadeIn(style='background-image: url(images/landing.jpg)')
      .banner__info
        h1.banner__title Разработка landing page В минске
        .banner__text Мы предлагаем своим клиентам новую услугу - разработку landing page. Ее суть заключается в создании продающих одностраничных сайтов с высокой конверсией в звонки и заявки.
      .breadcrumb
        ol
          li
            a(href='#') Главная
          li.active Разработка landing page

    section.landing-what
      .container
        .section__img
        .section__title Что такое landing page?
   
        .section__text
          p
            strong В переводе "Landing page" означает буквально "посадочная страница".

          p В нашем случае – это создание сайта-одностраничника, на который попадет пользователь, кликнув на ссылку либо введя поисковый запрос. Также это может быть отдельная страница сайта, переход на которую будет осуществляться тем же способом.

          p Особенность такой страницы/сайта – возможность получить всю необходимую информацию о товаре/услуге без дополнительных переходов.
         

        .section__image.wow.tada
          img(src="images/landing-page.png", alt="")
        .offer
          .offer__block
            p
              span.text_up Хотите  разработать лендинг пейдж для вашего бизнеса?
              br
              span.text_up 
                strong Закажите обратный звонок менеджера iMedia!
          .offer__btn.wow.lightSpeedIn
            .btn.btn-green ЗАказать обратный звонок


    section.landing-target.bg-light-yellow
      .container
        .section__img
        .section__pre Клиент должен оставить любые свои контакты
        .section__title Главная задача landing page - побуждение <br> клиента совершить целевое действие:
        .section__text
          p 
            strong Качественный "land" 
            span - это возможность эффективно и без лишних затрат 
            strong расширить клиентскую базу и повысить уровень продаж!

        .section-choose__group
          .row
            .three.columns
              .item
                .item__num
                  span 1
                .item__img.wow.fadeIn
                  !=targerMail
                  
                .item__info
                  .item__title Оставить контакты
    
            .three.columns
              .item
                .item__num
                  span 2
                .item__img.wow.fadeIn(data-wow-delay="0.25s")
                  !=targerCart
                .item__info
                  .item__title Купить товар

            .three.columns
              .item
                .item__num
                  span 3
                .item__img.wow.fadeIn(data-wow-delay="0.5s")
                  !=targetService
                .item__info
                  .item__title Заказать услуги

            .three.columns
              .item
                .item__num
                  span 4
                .item__img.wow.fadeIn(data-wow-delay="0.75s")
                  !=targerEvent
                .item__info
                  .item__title Прийти на мероприятие или событие
        .offer
          .offer__block
            p
              span.text_up 
                strong Хотите  узнать, как эффективно 
              br
              span.text_up 
                strong продавать ваши услуги ?
          .offer__btn.wow.lightSpeedIn
            .btn.btn-green ЗАКАЗАТЬ консультацию специалиста
                            
    section.section-why.landing-why
      .container
        .section__img
        .section__title Ключевое преимущество lp - <br> это высокая конверсия при работе!

        .section__text
          p Landing page - это просто только на первый взгляд. На самом деле это задача, которую способны решить только опытные специалисты, ведь в его основе лежит продуманность дизайна, объединенная с эффективностью продающего текста.

          .landing-why__group
            .landing-why__img
              img(src="images/landing-why.png", alt="")            
            .row
              .four.columns
                .item
                  .item__img.wow.bounceIn
                    div
                      !=why1
                  .item__info
                    .item__title
                      span С контекстной рекламой
                  
                    .item__text 
                      span Google, Яндекс  и другие        
              .four.columns
                .item
                  .item__img.wow.bounceIn(data-wow-delay="0.25s")
                    div
                      !=why2
                  .item__info
                    .item__title
                      span с баннерной рекламой                  
                    .item__text 
                      span Google Adwords, Яндекс РСЯ и другие
              .four.columns
                .item
                  .item__img.wow.bounceIn(data-wow-delay="0.5s")
                    div
                      !=why3
                  .item__info
                    .item__title
                      span с социальными сетями                  
                    .item__text 
                      span Вконтакте, Одноклассники, Facebook, YouTube и другие


    section.landing-feature
      .container
        .section__img
        .section__title Достигается это за счет <br> использования специальных блоков

   
        .section__text
          p
            | Дополнительный плюс - эффективность, доступность и оперативность данного решения.
            br
            | Не нужно создавать большой сайт, платить за элементы, которые не приносят результата.        

        .section__image.wow.zoomInDown
          img.hide-mobile(src="images/landing-feature.jpg", alt="")
          img.show-mobile(src="images/landing-feature-mobile.jpg", alt="")
        .section-approach__list.show-mobile
          ul 
            li 
              strong Лого и контакты. 
              span Куда без них?
            li 
              strong Привлекательное изображение. 
              span Распологающий визуальный образ, цепляющий и заражающий эмоцией
            li 
              strong Дескрипт. 
              span Максимально точный лаконичный заголовок о товаре или услуги
            li 
              strong Кнопка заказа. 
              span Большая яркая кнопка покупки, обратной связи, подписки, пользы
            li 
              strong Призыв. Побуждающая к полезному действию фраза
              span 
            li 
              strong Триггеры доверия.
              span Убедительная статистика, сертификаты, документы     
            li 
              strong Наглядные результаты. 
              span Демонстрация в реальной жизни, отзывы довольных клиентов
            li 
              strong Дублирующая кнопка заказа. 
              span 

        .offer
          .offer__block
            p
              span Чем раньше мы узнаем о Ваших товарах или услугах
              br
              span.text_up 
                strong тем быстрее Вы примите решение о разработке landing page !

          .offer__btn.wow.lightSpeedIn
            .btn.btn-green Заказать звонок специалиста


    section.section-choose
      .container
        .section__img
        .section__pre Заказывая landing page у команды iMedia Solutions, вы получаете

        .section__title Почему следует выбрать <br> именно нас?
        .section__post Потому что у нас есть несколько важных преимуществ:
        .section-choose__group
          .row
            .four.columns
              .item
                .item__num
                  span 1
                .item__img.wow.fadeIn
                  span(style='background-image: url("data:image/svg+xml,'+choose1+'");')
                .item__info
                  .item__title Эксклюзивный дизайн
                  .item__text Способный привлечь внимание клиентов, созданный опытными специалистами с учетом ваших предпочтений       
            .four.columns
              .item
                .item__num
                  span 2
                .item__img.wow.fadeIn(data-wow-delay="0.25s")
                  span(style='background-image: url("data:image/svg+xml,'+choose2+'");')
                .item__info
                  .item__title Эффективный продающий текст
                  .item__text Написанный нашими опытными копирайтерами
            .four.columns
              .item
                .item__num
                  span 3
                .item__img.wow.fadeIn(data-wow-delay="0.5s")
                  span(style='background-image: url("data:image/svg+xml,'+choose3+'");')
                .item__info
                  .item__title Квалифицированные исполнители
                  .item__text В нашем штате состоят опытные специалисты, которые знают все о web-разработках, дизайне и программном обеспечении
            .four.columns
              .item
                .item__num
                  span 4
                .item__img.wow.fadeIn
                  span(style='background-image: url("data:image/svg+xml,'+choose4+'");')
                .item__info
                  .item__title Ответственность и пунктуальность
                  .item__text Все этапы разработки осуществляются силами нашей компании и мы несем консолидированную ответственность перед клиентами
            .four.columns
              .item
                .item__num
                  span 5
                .item__img.wow.fadeIn(data-wow-delay="0.25s")
                  span(style='background-image: url("data:image/svg+xml,'+choose5+'");')
                .item__info
                  .item__title Профессиональная веб-аналитика, и настройка рекламной компании 
                  .item__text Системами Яндекс. Метрика и Google Analytics необходимую при работе над конверсией эффективности запущенной рекламы.
            .four.columns
              .item
                .item__num
                  span 6
                .item__img.wow.fadeIn(data-wow-delay="0.5s")
                  span(style='background-image: url("data:image/svg+xml,'+choose6+'");')
                .item__info
                  .item__title Демократичность цены
                  .item__text Минимизация внутренних издержек компании позволяет нам предлагать клиентам очень демократичные цены                       


    section.manager-section
      .container
          .manager
            .manager__wrap
              .manager__left
                span
                  strong Расскажите нам о задачах вашего  будущего интернет-магазина 
                br
                span и мы сделаем самое выгодное предложение!
                .manager__btn
                  .btn.btn-green Назначить встречу
              .manager__right
                span
                  strong Сергей
                br
                span Специализация: маркетинг, бизнес-аналитика, стратегическое планирование, продажи
              .manager__img.wow.zoomInDown
                img(src="images/companySergey.png", alt="")      
      

    section.portfolio
      .container
        .section__img 
        .section__pre Примеры наших работ
        .section__title Landing page, КОТОРЫЕ УЖЕ ПРОДАЮТ!
      .portfolio__wrap.clearfix
        figure.portfolio__item._main
          img(src="images/concordia.jpg", alt="concordia")
          figcaption.portfolio__info
            .portfolio__name “CONCORDIA”
            .portfolio__text сайт медицинского центра
            .portfolio__btn 
              a.btn.btn-primary(href="") ПОДРОБНЕЕ
        figure.portfolio__item  
          img(src="images/stilville.jpg", alt="stilville")
          figcaption.portfolio__info
            .portfolio__name stilville
            .portfolio__text сайт 
            .portfolio__btn 
              a.btn.btn-primary(href="") ПОДРОБНЕЕ
        figure.portfolio__item  
          img(src="images/study.jpg", alt="")
          figcaption.portfolio__info
            .portfolio__name study
            .portfolio__text сайт 
            .portfolio__btn 
              a.btn.btn-primary(href="") ПОДРОБНЕЕ 
        figure.portfolio__item  
          img(src="images/foxstyle.jpg", alt="")
          figcaption.portfolio__info
            .portfolio__name foxstyle
            .portfolio__text сайт 
            .portfolio__btn 
              a.btn.btn-primary(href="") ПОДРОБНЕЕ
        figure.portfolio__item  
          img(src="images/krasa-volos.jpg", alt="krasa-volos")
          figcaption.portfolio__info
            .portfolio__name krasa-volos
            .portfolio__text сайт 
            .portfolio__btn 
              a.btn.btn-primary(href="") ПОДРОБНЕЕ
      .container
        .offer
          .offer__text
            span.text_f18.text_up
              strong Хотите узнать сколько стоит заказать лендинг пэйдж в Минске?
            br
            span.text_up 
              strong Закажите звонок эксперта и ПОЛУЧИТЕ выгодное предложение!
          .offer__btn.wow.lightSpeedIn
            .btn.btn-green Получить Выгоду