extends template
block content
  - var work6='<svg id="brand" xmlns="http://www.w3.org/2000/svg" width="90" height="90" viewBox="0 0 57 76.125">  <path id="breand" d="M54.125 76H3.25S0 77.208 0 72.375V14.14h5.344v5.3h46.312v-5.3H57v58.235C57 77.208 54.125 76 54.125 76zM52 23H5v48h47V23zm-40.31 8a1.71 1.71 0 0 1 1.112.41H45.2a1.713 1.713 0 0 1 1.114-.41A1.668 1.668 0 0 1 48 32.64a1.61 1.61 0 0 1-.5 1.162 1.706 1.706 0 0 1-1.194.48 1.708 1.708 0 0 1-1.113-.41H37.76a16.085 16.085 0 0 1 7.258 9.846H42.4a14.05 14.05 0 0 0-26.812 0h-2.616a16.08 16.08 0 0 1 7.257-9.846H12.8a1.7 1.7 0 0 1-1.114.41A1.642 1.642 0 1 1 11.69 31zm3.8 17.64h-3.38v-2.46h3.38v2.46zm9.99-6.658c.7-2.658.95-3.75 1.423-5.46.274-.05.55-.09.83-.12v12.8a1.607 1.607 0 0 0-.422 1.082 1.69 1.69 0 0 0 3.38 0 1.612 1.612 0 0 0-.422-1.082V36.4q.418.045.83.12c.47 1.71.72 2.8 1.42 5.46 1.946 7.372 4.9 7.48 5.772 7.48v2.46c-1.994 0-3.285 1.326-3.675 3.693h-11.23c-.39-2.367-1.68-3.692-3.674-3.692v-2.46c.867 0 3.827-.105 5.77-7.477zm-1.547 16.095h10.134a1.665 1.665 0 0 1 1.688 1.64V63h-13.51v-3.282a1.666 1.666 0 0 1 1.688-1.64zM45.89 48.64h-3.38v-2.46h3.38v2.46zM10.69 7.07h10.687a7.125 7.125 0 0 1 14.25 0h10.688v7.07H10.687V7.07z"/></svg>'; 

  main.logotype
    section.banner.banner_default
      .banner__img.animated.fadeIn(style='background-image: url(images/logotype.jpg)')
      .banner__info
        h1.banner__title создание и разработка логотипа

        .banner__text Заказать логотип вашей компании означает получение имиджевого продукта, который будет лицом вашего бизнеса, подчеркнет его преимущества и высокий уровень.
      .breadcrumb
        ol
          li
            a(href='#') Главная
          li.active Разработка фирменного стиля

    section.logotype-make
      .container
        .section__title создание логотипа <br> фирмы
        .logotype-make__wrap
          .section__text
            p Имидж компании создается с помощью разных составляющих, одним из которых является оригинальный, неповторимый, уникальный логотип, который необходим для того, чтобы компанию и ее продукцию можно было проще идентифицировать на рынке. 
              strong Заказать логотип вашей компании означает получение имиджевого продукта, который будет лицом вашего бизнеса, подчеркнет его преимущества и высокий уровень.

            p Разработка логотипов обычно не имеет строгих ограничений и правил. Логотип может представлять собой уникальный знак, рисунок или шрифтовое начертание, а иногда все это вместе. 
              strong Но все же есть несколько требований, которым должны соответствовать эти фирменные знаки: логотип должен быть узнаваемым, легко запоминающимся, уникальным. Кроме того, он должен быть понятным, лаконичным и читабельным. И самое основное – логотип должен ассоциироваться у потребителя с вашей компанией. 
              | При соблюдении всех этих требований можно говорить о правильно выполненной работе.

            p 
              strong Создание логотипа фирмы
              |  – это ответственное задание, настоящее искусство, которое требует не только умения рисовать, наличия художественного вкуса и умения пользоваться графическими компьютерными программами, но также знаний психологических особенностей потребителей, ситуации на рынке того или иного вида продукции. Именно поэтому такое ответственное задание лучше доверять профессионалам, которые обладают необходимыми знаниями и умениями. 

            p
              strong В нашем штате находятся опытные специалисты по дизайну, поэтому Вы останетесь довольны разработанным логотипом для вашей компании.
          .logotype-make__image-left.wow.rollIn
            img(src="images/logotype-make-left.png", alt="")
          .logotype-make__image-right.wow.slideInRight
            img(src="images/logotype-make-right.png", alt="")

    section.logotype-stage
      .container
        .logotype-stage__img-title.wow.slideInDown
          img(src="images/logotype-stage-title.png", alt="")
        .logotype-stage__img-paper.wow.rollIn
          img(src="images/logotype-stage-paper.png", alt="")
        .section__title Этапы работы <br> по созданию логотипа
        .logotype-stage__group
          .item
            .item__img
              span 1
            .item__info
              .item__text уточнение требований и заполнение брифа
          .item
            .item__img
              span 2
            .item__info
              .item__text оценка логотипов конкурирующих компаний
          .item
            .item__img
              span 3
            .item__info
              .item__text корректировка брифа
          .item
            .item__img
              span 4
            .item__info
              .item__text разработка нескольких концепций логотипа
          .item
            .item__img
              span 5
            .item__info
              .item__text доработка утвержденной концепции
        .logotype-stage__img-pens.wow.flipInY
          img(src="images/logotype-stage-pens.png", alt="")                  
        .logotype-stage__img-dividers.wow.flipInY
          img(src="images/logotype-stage-dividers.png", alt="")

        .offer
          .offer__block
            span ЧЕМ РАНЬШЕ МЫ УЗНАЕМ О ЗАДАЧАХ ВАШЕГО БИЗНЕСА,
            br
            strong ТЕМ БЫСТРЕЕ ВЫ ПОЛУЧИТЕ НУЖНЫЙ ПРОДУКТ!
          .offer__btn
            .btn.btn-green ЗАКАЗАТЬ звонок специалиста             


    section.section-working.logotype-working
      .section-working__title Возможно Вас также заинтересует
      .container
        .logotype-working__img.wow.hinge
          img(src="images/logotype-glasses.png", alt="")
        .working__item          
          .working__img
            .svg-animate
              !=work6

          .working__title Разработка  фирменного стиля. Брендинг.  
          .working__text Разработка логотипа и фирменного стиля может также идти в комплексе. В этом случае стоимость этой услуги составит от 9 млн бел руб. Сюда входит непосредственно разработка логотипа, подбор фирменных цветов, разработка "макетов" визиток, фирменных конвертов, дисков, папок, бланков.
          .working__btn
            a.btn.btn-primary(href="") ПОДРОБНЕЕ
     


    section.portfolio.logotype-portfolio
      .container
        .section__img
        .section__pre Примеры наших работ
        .section__title логотипы, КОТОРЫЕ сделали мы!
      .portfolio__wrap.clearfix
        figure.portfolio__item._main
          img(src="images/portf-logo-01.jpg", alt="MINSK GUIDE")
          figcaption.portfolio__info
            .portfolio__name “MINSK GUIDE”
            .portfolio__text Путеводитель по городу Минску
            .portfolio__btn 
              a.btn.btn-primary(href="") ПОДРОБНЕЕ
        figure.portfolio__item  
          img(src="images/portf-logo-02.jpg", alt="stilville")
          figcaption.portfolio__info
            .portfolio__name stilville
            .portfolio__text сайт 
            .portfolio__btn 
              a.btn.btn-primary(href="") ПОДРОБНЕЕ
        figure.portfolio__item  
          img(src="images/portf-logo-03.jpg", alt="")
          figcaption.portfolio__info
            .portfolio__name study
            .portfolio__text сайт 
            .portfolio__btn 
              a.btn.btn-primary(href="") ПОДРОБНЕЕ 
        figure.portfolio__item  
          img(src="images/portf-logo-04.jpg", alt="")
          figcaption.portfolio__info
            .portfolio__name foxstyle
            .portfolio__text сайт 
            .portfolio__btn 
              a.btn.btn-primary(href="") ПОДРОБНЕЕ
        figure.portfolio__item  
          img(src="images/portf-logo-05.jpg", alt="krasa-volos")
          figcaption.portfolio__info
            .portfolio__name krasa-volos
            .portfolio__text сайт 
            .portfolio__btn 
              a.btn.btn-primary(href="") ПОДРОБНЕЕ
      .container
        .offer
          .offer__title Хотите узнать сколько стоит заказать разработку логотипа в Минске?
          h6 Закажите звонок эксперта и ПОЛУЧИТЕ выгодное предложение!
          .offer__btn.wow.lightSpeedIn
            .btn.btn-green Получить Выгоду
         