extends template2
block content
  main.projects
    +banner('НАШИ ПРОЕКТЫ','в нашей копилке более 500+ работ','Проекты','default','projects')
    section.projects__content
      .container
        .sort
          .sort__pagin
            .sort__btn.wow.bounceIn.active(data-filter=".projects__item")
              span Все работы
            .sort__btn.wow.bounceIn(data-wow-delay="0s",data-filter=".shop") 
              span Интернет-магазины
            .sort__btn.wow.bounceIn(data-wow-delay="0.25s",data-filter=".landing") 
              span Лендинги
            .sort__btn.wow.bounceIn(data-wow-delay="0.5s",data-filter=".service") 
              span Веб-сервисы
            .sort__btn.wow.bounceIn(data-wow-delay="0.75s",data-filter=".app") 
              span Мобильные приложения
            .sort__btn.wow.bounceIn(data-wow-delay="1s",data-filter=".style") 
              span Фирменный стиль
        .projects__wrap.clearfix
          .projects__sizer
          figure.projects__item._big.landing
            img(src="images/project01.jpg", alt="project01")
            figcaption.projects__info
              .projects__name “MEDICENTER”
              .projects__text сайт медицинского центра
              .projects__btn 
                a.btn.btn-primary(href="") ПОДРОБНЕЕ        
          figure.projects__item.shop
            img(src="images/project02.jpg", alt="project02")
            figcaption.projects__info
              .projects__name project02
              .projects__text сайт project02
              .projects__btn 
                a.btn.btn-primary(href="") ПОДРОБНЕЕ 
          figure.projects__item.shop
            img(src="images/project03.jpg", alt="project03")
            figcaption.projects__info
              .projects__name project03
              .projects__text сайт project03
              .projects__btn 
                a.btn.btn-primary(href="") ПОДРОБНЕЕ 
          figure.projects__item.landing
            img(src="images/project04.jpg", alt="project04")
            figcaption.projects__info
              .projects__name project04
              .projects__text сайт project04
              .projects__btn 
                a.btn.btn-primary(href="") ПОДРОБНЕЕ 
          figure.projects__item.service
            img(src="images/project05.jpg", alt="project05")
            figcaption.projects__info
              .projects__name project05
              .projects__text сайт project05
              .projects__btn 
                a.btn.btn-primary(href="") ПОДРОБНЕЕ 
          figure.projects__item._big.shop
            img(src="images/project06.jpg", alt="project06")
            figcaption.projects__info
              .projects__name project06
              .projects__text сайт project06
              .projects__btn 
                a.btn.btn-primary(href="") ПОДРОБНЕЕ 
          figure.projects__item._big.shop
            img(src="images/project07.jpg", alt="project07")
            figcaption.projects__info
              .projects__name project07
              .projects__text сайт project07
              .projects__btn 
                a.btn.btn-primary(href="") ПОДРОБНЕЕ 
          figure.projects__item.landing.app
            img(src="images/project05.jpg", alt="project05")
            figcaption.projects__info
              .projects__name project05
              .projects__text сайт project05
              .projects__btn 
                a.btn.btn-primary(href="") ПОДРОБНЕЕ 
          figure.projects__item.service
            img(src="images/project03.jpg", alt="project03")
            figcaption.projects__info
              .projects__name project03
              .projects__text сайт project03
              .projects__btn 
                a.btn.btn-primary(href="") ПОДРОБНЕЕ 
          figure.projects__item.service.app
            img(src="images/project08.jpg", alt="project08")
            figcaption.projects__info
              .projects__name project08
              .projects__text сайт project08
              .projects__btn 
                a.btn.btn-primary(href="") ПОДРОБНЕЕ 
          figure.projects__item.style
            img(src="images/project09.jpg", alt="project09")
            figcaption.projects__info
              .projects__name project09
              .projects__text сайт project09
              .projects__btn 
                a.btn.btn-primary(href="") ПОДРОБНЕЕ 
          figure.projects__item._big.style.app
            img(src="images/project10.jpg", alt="project10")
            figcaption.projects__info
              .projects__name project10
              .projects__text сайт project10
              .projects__btn 
                a.btn.btn-primary(href="") ПОДРОБНЕЕ 
          figure.projects__item._big.service
            img(src="images/project11.jpg", alt="project11")
            figcaption.projects__info
              .projects__name project11
              .projects__text сайт project11
              .projects__btn 
                a.btn.btn-primary(href="") ПОДРОБНЕЕ 



          figure.projects__item._big.landing(style="display:none")
            img(src="images/project01.jpg", alt="project01")
            figcaption.projects__info
              .projects__name “MEDICENTER”
              .projects__text сайт медицинского центра
              .projects__btn 
                a.btn.btn-primary(href="") ПОДРОБНЕЕ        
          figure.projects__item.shop(style="display:none")
            img(src="images/project02.jpg", alt="project02")
            figcaption.projects__info
              .projects__name project02
              .projects__text сайт project02
              .projects__btn 
                a.btn.btn-primary(href="") ПОДРОБНЕЕ 
          figure.projects__item.shop(style="display:none")
            img(src="images/project03.jpg", alt="project03")
            figcaption.projects__info
              .projects__name project03
              .projects__text сайт project03
              .projects__btn 
                a.btn.btn-primary(href="") ПОДРОБНЕЕ 
          figure.projects__item.landing(style="display:none")
            img(src="images/project04.jpg", alt="project04")
            figcaption.projects__info
              .projects__name project04
              .projects__text сайт project04
              .projects__btn 
                a.btn.btn-primary(href="") ПОДРОБНЕЕ 
          figure.projects__item.service(style="display:none")
            img(src="images/project05.jpg", alt="project05")
            figcaption.projects__info
              .projects__name project05
              .projects__text сайт project05
              .projects__btn 
                a.btn.btn-primary(href="") ПОДРОБНЕЕ 
          figure.projects__item._big.shop(style="display:none")
            img(src="images/project06.jpg", alt="project06")
            figcaption.projects__info
              .projects__name project06
              .projects__text сайт project06
              .projects__btn 
                a.btn.btn-primary(href="") ПОДРОБНЕЕ 
          figure.projects__item._big.shop(style="display:none")
            img(src="images/project07.jpg", alt="project07")
            figcaption.projects__info
              .projects__name project07
              .projects__text сайт project07
              .projects__btn 
                a.btn.btn-primary(href="") ПОДРОБНЕЕ 
          figure.projects__item.landing.app(style="display:none")
            img(src="images/project05.jpg", alt="project05")
            figcaption.projects__info
              .projects__name project05
              .projects__text сайт project05
              .projects__btn 
                a.btn.btn-primary(href="") ПОДРОБНЕЕ 
          figure.projects__item.service(style="display:none")
            img(src="images/project03.jpg", alt="project03")
            figcaption.projects__info
              .projects__name project03
              .projects__text сайт project03
              .projects__btn 
                a.btn.btn-primary(href="") ПОДРОБНЕЕ 
          figure.projects__item.service.app(style="display:none")
            img(src="images/project08.jpg", alt="project08")
            figcaption.projects__info
              .projects__name project08
              .projects__text сайт project08
              .projects__btn 
                a.btn.btn-primary(href="") ПОДРОБНЕЕ 
          figure.projects__item.style(style="display:none")
            img(src="images/project09.jpg", alt="project09")
            figcaption.projects__info
              .projects__name project09
              .projects__text сайт project09
              .projects__btn 
                a.btn.btn-primary(href="") ПОДРОБНЕЕ 
          figure.projects__item._big.style.app(style="display:none")
            img(src="images/project10.jpg", alt="project10")
            figcaption.projects__info
              .projects__name project10
              .projects__text сайт project10
              .projects__btn 
                a.btn.btn-primary(href="") ПОДРОБНЕЕ 
          figure.projects__item._big.service(style="display:none")
            img(src="images/project11.jpg", alt="project11")
            figcaption.projects__info
              .projects__name project11
              .projects__text сайт project11
              .projects__btn 
                a.btn.btn-primary(href="") ПОДРОБНЕЕ 

        .projects__btn 
          .btn.btn-primary(href="") ПОКАЗАТЬ ЕЩЕ... 



















