extends template2
block content
  main.customer
    section.banner.banner_default
      .banner__img.animated.fadeIn(style='background-image: url(images/projects.jpg)')
      .banner__info
        h1.banner__title CRM СИСТЕМА “Concordia”
        .banner__text Concordia – латинский термин для обозначения состояния гармонии, согласия. Полноценная жизнь невозможна без гармонии с самим собой, окружающей природой и всеми людьми вокруг. 
        .banner__type 
          span веб-сервис
      .breadcrumb
        ol
          li
            a(href='#') Главная
          li
            a(href='#') Проекты  
          li.active CRM СИСТЕМА “Concordia”
    section.customer__content
        .customer__logo.wow.pulse
          img(src="images/customer.jpg", alt="")

        .customer__block
          .container
            .customer__info.customer__info_center
              .customer__number
                span 1
              .customer__title задачи проекта            
              .customer__text 
                p Директива Министерства здравоохранения обязывает клиники вести электронный учет пациентов. Этого же требует и грамотная организация внутренней работы. Качественный учет подразумевает фиксацию не только личных данных, имени, фамилии и персонального кода пациента, но и отображение истории посещений, сведений о проведенных процедурах и манипуляциях. В истории пациента обязательно хранятся зубные карты и рентгеновские снимки. Такая система экономит время сотрудников: она автоматически напоминает пациентам о плановых осмотрах и визитах.

        .customer__block.bg-grey
          .container
            .customer__info.customer__info_center
              .customer__number
                span 2
              .customer__title Разработка прототипа. UX                            
              .customer__text
                p Работа над системой Concordia начинается с планирования логики, по которой будет осуществляться взаимодействие с пользователями, а также разработки прототипов каждой страницы.
                p Изначально неправильная архитектура системы – огромная проблема проекта, которая становится на пути к достижению целей. Прежде чем приступить к разработке, мы погружаемся в бизнес клиента, разбираемся во всех внутренних процессах клиники.
                p Собранная и проанализированная информация отражается и визуализируется в прототипе. Его разработка позволяет согласовать все ключевые моменты до начала работы над системой, сэкономить время и избежать ненужных трат.
            .customer__img.wow.slideInUp
                img(src="images/customer01.png", alt="")

        .customer__block.bg-bordo
          .container
            .customer__info.customer__info_center
              .customer__number
                span 3
              .customer__title.text-white Разработка дизайна страниц. GUI/UX              
              .customer__text.text-white
                p Мы следуем утвержденному прототипу и ранее составленному техническому заданию от клиента на следующем этапе – при разработке каждой страницы проекта.Команда дизайнеров воссоздает любые задумки, которые отличаются как эстетикой, так и исключительной функциональностью.
            .customer__img.wow.slideInUp
                img(src="images/customer02.png", alt="")

        .customer__block
          .container
            .customer__info.customer__info_left   
              .customer__title страница учета пациентов                       
              .customer__text
                p Мы следуем утвержденному прототипу и ранее составленному техническому заданию от клиента на следующем этапе – при разработке каждой страницы проекта.
                p Команда дизайнеров воссоздает любые задумки, которые отличаются как эстетикой, так и исключительной функциональностью.
            .customer__img.customer__img_right.wow.slideInRight
                img(src="images/customer03.png", alt="")

        .customer__block.bg-grey
          .container
            .customer__info.customer__info_right  
              .customer__title страница карточки пациента         
              .customer__text                
                p Мы следуем утвержденному прототипу и ранее составленному техническому заданию от клиента на следующем этапе – при разработке каждой страницы проекта.
                p Команда дизайнеров воссоздает любые задумки, которые отличаются как эстетикой, так и исключительной функциональностью.
            .customer__img.customer__img_left.wow.slideInLeft
                img(src="images/customer04.png", alt="")

        .customer__block
          .container
            .customer__info.customer__info_right 
              .customer__number
                span 4 
              .customer__title Разработка, верстка и программирование         
              .customer__text                
                p После оформления дизайна мы переходим непосредственно к разработке проекта. Наши программисты исключают все "велосипеды" и "костыли", которые могут препятствовать нормальной работе системы.
                p Профессиональный подход к разработке, применение последних фреймворков и технологий – залог создания эффективных и быстроработающих проектов.
                p
                  strong Frontend
                ul
                  li CSS 3.0
                  li HTML 5.0
                  li Konva.js
                  li Ajax
                  li JQuery
                p
                  strong Backend
                ul
                  li CMS "1С-Битрикс"
                  li MYSQL
                  li PHP
            .customer__img.customer__img_left.wow.slideInLeft
                img(src="images/customer05.png", alt="")

        .customer__block.bg-grey
          .container
            .customer__info.customer__info_left 
              .customer__number
                span 5 
              .customer__title тестирование проекта.                     
              .customer__text
                p Работоспособность проекта проверяется на завершающем этапе разработки – во время тестирования. На этом этапе мы используем собственный чек-лист. Также QA специалисты проверяют проект на "живых" устройствах.
            .customer__img.customer__img_right.wow.slideInRight
                img(src="images/customer06.png", alt="")

        .customer__block
          .container
            .customer__info.customer__info_center
              .customer__number
                span 6
              .customer__title решение  задач проекта. запуск проекта            
              .customer__text 
                p Результат нашей работы призван реализовать планы компании по увеличению оборотов электронной площадки и служит мощной основой для дальнейшего развития сервисов интернет-магазина. 
                p Реализована сложная модель данных хранения информации по товарам, стоимости и остаткам, которые зависят от региона. Для каждой товарной категории предусмотрены отдельные наборы свойств товара. В каталоге реализованы гибкие фильтры поиска товаров, которые зависят от товарной категории и выбранного региона.
                p
                  strong Проведенные работы по проекту:
                ul
                  li Прототипирование
                  li Дизайн, UX/UI
                  li Креатив и уникальная верстка всех разделов
                  li Программирование и интеграция
                  li Тестирование

        .customer__contacts         
          .container          
            .customer__links
              .customer__site
                .customer__site-text Ссылка на проект:
                .customer__site-btn http://site.by
              .customer__share
                +share()
            .customer__pagin.clearfix
              a(href="").customer__prev
                .customer__arrow
                .customer__project
                  | проект - 
                  span.customer__project_name ИНТЕРНЕТ-МАГАЗИН СПОРТИВНЫХ ТОВАРОВ
              a(href="").customer__next                  
                .customer__project
                  | проект - 
                  span.customer__project_name "ВУДСТРОЙ ИМПОРТ"
                .customer__arrow
            .customer__btn
              a(href="").btn.btn-grey вернуться к списку проектов

        .customer__block.bg-light-yellow        
          .container
            .order
              .order__call
                .order__phone.wow.fadeIn(data-wow-delay="0s") 
                  a(href="") +375 (29) 699-44-35
                  span (Velcom),
                .order__phone.wow.fadeIn(data-wow-delay="0.25s")
                  a(href="") +375 (33) 654-44-35
                  span (MTC),
                .order__phone.wow.fadeIn(data-wow-delay="0.5s")
                  a(href="") +375 (17) 292-14-94
                  span (тел./факс)
              .order__text
                | Заказать проект или прокунсультироваться можно по адресу
                a(href="") info@imedia.by
                | или заполните онлайн заявку и мы позвоним Вам в течении 1 часа!
              .order__btn.wow.lightSpeedIn
                .btn.btn-green оставить заявку 













