extends template
block content

  main.seo
    section.banner.banner_default
      .banner__img.animated.fadeIn(style='background-image: url(images/seo.jpg)')
      .banner__info
        h1.banner__title ПРОДВИЖЕНИЕ ВЕБ-САЙТОВ
        .banner__text Продвижение сайтов в Минске, мы выведем ваш сайт в лидирующие позиции
      .breadcrumb
        ol
          li
            a(href='#') Главная
          li.active Продвижение веб-сайтов

    section.seo-why
      .container
        .section__title наша философия <br> продвижения вашего бизнеса
        .section__text
          p Продвижение сайтов - это наиболее дешевый и выгодный путь привлечения клиентов через сайт. Именно за счет SEO оптимизации сайта можно решить большую часть проблем, связанных с его посещаемостью. При условии правильного ее проведения ваш сайт сможет выйти на лидирующие позиции в основных поисковых системах по ключевым запросам, которые отражают его специфику. 
          p А это означает, что он будет обеспечен постоянным потоком целевых посетителей, то есть ваших потенциальных клиентов (повышение кол-ва звонков, продаж, регистраций, узнаваемость бренда). Настоятельно рекомендуем Вам после создания сайта приступить к его поисковому продвижению. Также полезно использовать контекстную рекламу как дополнительный источник продаж.
          p
            strong Для того, чтобы грамотно провести продвижение сайта в Минске, надо учитывать популярность поисковых систем в конкретном регионе.
          p Исследования показали, что наиболее используемыми являются поисковики Яндекс и Google. Например, в Беларуси по данным на лето 2015 года они обрабатывают 40% и 50% всех запросов пользователей соответственно, в России же ситуация обратная и тут лидирует Яндекс - 51% и 40%.
        .seo-why__image.wow.slideInUp
          img(src="images/google-search.png", alt="")

    section.section-why.bg-grey
      .container
        .section__title Продвижение сайтов  <br> по позициям
        .section__text
          p Представляет собой наиболее популярный в нашей стране вариант раскрутки сайта, который представляет собой <strong>комплекс мер по обеспечению высокого рейтинга сайта в поисковых системах</strong>. Основное преимущество этого вида раскрутки сайтов заключается в том, что здесь идет привлечение только целевой аудитории.

          p Кроме того, оптимизация сайта состоит из нескольких этапов, каждый из которых очень важен. И пропуск какого-либо из них недопустим. Продвижение сайтов в Минске нужно начинать после создания либо на завершающей стадии 
            a(href="")
              strong разработки сайта.
        .section__image.wow.fadeInUp
          img(src="images/relevancy.png", alt="")
        .offer
          .offer__text Чем раньше мы узнаем о задачах Вашего бизнеса,
          h6 тем быстрее Вы получите нужный комплекс мер!
          .offer__btn
            .btn.btn-green ЗАКАЗАТЬ звонок специалиста

    section.section-choose.seo-stage
      .container
        .section__img
        .section__title Этапы продвижения <br> сайта
        .section-choose__group
          .row
            .four.columns
              .item
                .item__num
                  span 1
                .item__img.wow.fadeIn
                  span(style='background-image: url(images/seo-choose-01.png);')
                .item__info
                  .item__title Детальное изучение <br> сайта клиента
                  .item__text Его тематики, предназначения. Для этого проводится анализ сайтов конкурентов, составляется семантическое ядро, то есть тех ключевых запросов, по которым в дальнейшем сайт будет продвигаться.       
            .four.columns
              .item
                .item__num
                  span 2
                .item__img.wow.fadeIn(data-wow-delay="0.25s")
                  span(style='background-image: url(images/seo-choose-02.png);')
                .item__info
                  .item__title Проведение внутренней <br> оптимизации сайта 
                  .item__text Распределение ключевых запросов по релевантным страницам, улучшение навигации ресурса (делаем ее максимально удобной для посетителей), написание новых и редакция уже имеющихся текстов, которые будут более удобными не только для поисковых систем, но и для потенциальных клиентов.
            .four.columns
              .item
                .item__num
                  span 3
                .item__img.wow.fadeIn(data-wow-delay="0.5s")
                  span(style='background-image: url(images/seo-choose-03.png);')
                .item__info
                  .item__title Привлечение на сайт ссылок <br> с других ресурсов 
                  .item__text Здесь очень важно использовать только качественные сторонние сайты. В своей практике мы используем региональные каталоги, форумы, блоги, социальные сети и другие ресурсы и порталы, с помощью которых ваш сайт становится максимально видимым поисковикам и пользователям.

    section.section-choose.bg-blue.seo-profit
      .container
        .section__img
        .section__title Наши преимущества
        .section__text
          p Мы гарантируем своим клиентам положительный результат,поскольку обладаем большим опытом работы, ответственно и внимательно относимся к выполнению взятых на себя обязательств. Кроме того, мы даем юридические гарантии в виде подписываемого с заказчиком договора, в котором четко и подробно прописаны все важные для него пункты. Все открыто, честно и только легально, как и методы нашей работы. Подробнее о наших гарантиях вы можете 
            a(href="")
              strong прочитать тут.      
        .section-choose__group
          .row
            .four.columns
              .item
                .item__img.wow.bounceIn
                  span(style='background-image: url(images/seo-profit-01.png);')
                .item__info
                  .item__text Преимущества работы с нашей компанией – это, в первую очередь, большой опыт работы в данной области, гарантии получения результата (юридическая и финансовая ответственность), <strong>предоставление отчета о проведенной работе по SEO и контекстной рекламе в строго оговоренные сроки.</strong>      
            .four.columns
              .item
                .item__img.wow.bounceIn(data-wow-delay="0.25s")
                  span(style='background-image: url(images/seo-profit-02.png);')
                .item__info
                  .item__text Также мы предлагаем <strong>бесплатный базовый аудит сайта</strong>, который позволяет точно определить список необходимых для сайта ключевых запросов, а также провести оптимизацию сайта согласно требованиям поисковых систем.
            .four.columns
              .item
                .item__img.wow.bounceIn(data-wow-delay="0.75s")
                  span(style='background-image: url(images/seo-profit-03.png);')
                .item__info
                  .item__text И еще одно преимущество (последнее в списке, но далеко не последнее по важности) – это <strong>“белые” методы работы</strong>, которые гарантируют, что ваш сайт всегда будет находиться в индексации поисковиков, а ваши клиенты, будущие и настоящие, смогут без проблем найти его. Подробнее о наших преимуществах вы можете 
                    a(href="")
                      strong прочитать на этой странице.
        .offer
          h6 Закажите бесплатный базовый аудит сайта сегодня и получите скидку
            br
            span на  продвижение вашего бизнеса в поисковых системах!

          .offer__btn
            .btn.btn-green Получить консультацию  

    section.seo-result
      .container
        .section__img
        .section__title Наши преимущества           
        .tabs
          .tabs__pagin
            .tabs__btn.active 
              span svarokmaster.by 
            .tabs__btn 
              span ma-bel.by
            .tabs__btn 
              span happytoys.by
            .tabs__btn 
              span matem.by
            .tabs__nav
              .tabs__arrow.prev
              .tabs__arrow.next
          .tabs__content
            .tabs__item
              .text__block
                p
                  img(src="images/seo-tab-01.png", alt="")
                p
                  strong Продвижение сайта svarokmaster.by

                p Запуск нового сайта - апрель 2015 г.. Компания занимается производством и продажей изделий из натурального камня

                p
                  strong Комплекс мер применяемых нами к проекту для достижения поставленных  задач клиентом:

                ul
                  li Разработать удобный и продающий сайт
                  li Поднять сайт в топ по коммерческим запросам
                  li Увеличить поисковой трафик
                  li Сделать сайт удобнее для пользователя
                .tabs__block 
                  .tabs__info
                    h5 Результаты проведенных работ
                    ul
                      li Трафик поисковых систем вырос 
                        strong в 40 раз. с 25 до 1000 человек в неделю

                      li Рост посещаемости посетителей: 
                        strong c 400 до 2300 посещений в неделю

                      li Рост заявок на обучение через сайт 
                        strong до 80 в неделю, конверсия 2,5%.                 
                  .tabs__row
                    .tabs__col
                      .item
                        .item__title
                          .item__info
                            .item__img
                              img(src="images/seo-yandex.png", alt="yandex")
                            .item__name место
                        .item__info
                          .item__text курсы по русскому языку
                          .item__place 1
                        .item__info
                          .item__text репетитор по математике
                          .item__place 5
                        .item__info
                          .item__text подготовка к цт по русскому языку
                          .item__place 5
                    .tabs__col
                      .item
                        .item__title
                          .item__info
                            .item__img
                              img(src="images/seo-google.png", alt="google")
                            .item__name место
                        .item__info
                          .item__text курсы по математике в минске
                          .item__place 1
                        .item__info
                          .item__text курсы по математике
                          .item__place 5
                        .item__info
                          .item__text курсы по химии
                          .item__place 5
                  
                  .tabs__hidden
                    .tabs__info
                      ul
                        li Трафик поисковых систем вырос 
                          strong в 40 раз. с 25 до 1000 человек в неделю

                        li Рост посещаемости посетителей: 
                          strong c 400 до 2300 посещений в неделю

                        li Рост заявок на обучение через сайт 
                          strong до 80 в неделю, конверсия 2,5%.                      
                  .tabs__more
                    span Показать еще статистику
            .tabs__item
              .text__block
                p
                  img(src="images/seo-tab-01.png", alt="")
                p
                  strong Продвижение сайта ma-bel.by

                p Запуск нового сайта - апрель 2015 г.. Компания занимается производством и продажей изделий из натурального камня

                p
                  strong Комплекс мер применяемых нами к проекту для достижения поставленных  задач клиентом:

                ul
                  li Разработать удобный и продающий сайт
                  li Поднять сайт в топ по коммерческим запросам
                  li Увеличить поисковой трафик
                  li Сделать сайт удобнее для пользователя
                .tabs__block 
                  .tabs__info
                    h5 Результаты проведенных работ
                    ul
                      li Трафик поисковых систем вырос 
                        strong в 40 раз. с 25 до 1000 человек в неделю

                      li Рост посещаемости посетителей: 
                        strong c 400 до 2300 посещений в неделю

                      li Рост заявок на обучение через сайт 
                        strong до 80 в неделю, конверсия 2,5%.                 
                  .tabs__row
                    .tabs__col
                      .item
                        .item__title
                          .item__info
                            .item__img
                              img(src="images/seo-yandex.png", alt="yandex")
                            .item__name место
                        .item__info
                          .item__text курсы по русскому языку
                          .item__place 1
                        .item__info
                          .item__text репетитор по математике
                          .item__place 5
                        .item__info
                          .item__text подготовка к цт по русскому языку
                          .item__place 5
                    .tabs__col
                      .item
                        .item__title
                          .item__info
                            .item__img
                              img(src="images/seo-google.png", alt="google")
                            .item__name место
                        .item__info
                          .item__text курсы по математике в минске
                          .item__place 1
                        .item__info
                          .item__text курсы по математике
                          .item__place 5
                        .item__info
                          .item__text курсы по химии
                          .item__place 5
                  
                  .tabs__hidden
                    .tabs__info
                      ul
                        li Трафик поисковых систем вырос 
                          strong в 40 раз. с 25 до 1000 человек в неделю

                        li Рост посещаемости посетителей: 
                          strong c 400 до 2300 посещений в неделю

                        li Рост заявок на обучение через сайт 
                          strong до 80 в неделю, конверсия 2,5%.                      
                  .tabs__more
                    span Показать еще статистику
            .tabs__item
              .text__block
                p
                  img(src="images/seo-tab-01.png", alt="")
                p
                  strong Продвижение сайта happytoys.by

                p Запуск нового сайта - апрель 2015 г.. Компания занимается производством и продажей изделий из натурального камня

                p
                  strong Комплекс мер применяемых нами к проекту для достижения поставленных  задач клиентом:

                ul
                  li Разработать удобный и продающий сайт
                  li Поднять сайт в топ по коммерческим запросам
                  li Увеличить поисковой трафик
                  li Сделать сайт удобнее для пользователя
                .tabs__block 
                  .tabs__info
                    h5 Результаты проведенных работ
                    ul
                      li Трафик поисковых систем вырос 
                        strong в 40 раз. с 25 до 1000 человек в неделю

                      li Рост посещаемости посетителей: 
                        strong c 400 до 2300 посещений в неделю

                      li Рост заявок на обучение через сайт 
                        strong до 80 в неделю, конверсия 2,5%.                 
                  .tabs__row
                    .tabs__col
                      .item
                        .item__title
                          .item__info
                            .item__img
                              img(src="images/seo-yandex.png", alt="yandex")
                            .item__name место
                        .item__info
                          .item__text курсы по русскому языку
                          .item__place 1
                        .item__info
                          .item__text репетитор по математике
                          .item__place 5
                        .item__info
                          .item__text подготовка к цт по русскому языку
                          .item__place 5
                    .tabs__col
                      .item
                        .item__title
                          .item__info
                            .item__img
                              img(src="images/seo-google.png", alt="google")
                            .item__name место
                        .item__info
                          .item__text курсы по математике в минске
                          .item__place 1
                        .item__info
                          .item__text курсы по математике
                          .item__place 5
                        .item__info
                          .item__text курсы по химии
                          .item__place 5
                  
                  .tabs__hidden
                    .tabs__info
                      ul
                        li Трафик поисковых систем вырос 
                          strong в 40 раз. с 25 до 1000 человек в неделю

                        li Рост посещаемости посетителей: 
                          strong c 400 до 2300 посещений в неделю

                        li Рост заявок на обучение через сайт 
                          strong до 80 в неделю, конверсия 2,5%.                      
                  .tabs__more
                    span Показать еще статистику
            .tabs__item
              .text__block
                p
                  img(src="images/seo-tab-01.png", alt="")
                p
                  strong Продвижение сайта matem.by

                p Запуск нового сайта - апрель 2015 г.. Компания занимается производством и продажей изделий из натурального камня

                p
                  strong Комплекс мер применяемых нами к проекту для достижения поставленных  задач клиентом:

                ul
                  li Разработать удобный и продающий сайт
                  li Поднять сайт в топ по коммерческим запросам
                  li Увеличить поисковой трафик
                  li Сделать сайт удобнее для пользователя
                .tabs__block 
                  .tabs__info
                    h5 Результаты проведенных работ
                    ul
                      li Трафик поисковых систем вырос 
                        strong в 40 раз. с 25 до 1000 человек в неделю

                      li Рост посещаемости посетителей: 
                        strong c 400 до 2300 посещений в неделю

                      li Рост заявок на обучение через сайт 
                        strong до 80 в неделю, конверсия 2,5%.                 
                  .tabs__row
                    .tabs__col
                      .item
                        .item__title
                          .item__info
                            .item__img
                              img(src="images/seo-yandex.png", alt="yandex")
                            .item__name место
                        .item__info
                          .item__text курсы по русскому языку
                          .item__place 1
                        .item__info
                          .item__text репетитор по математике
                          .item__place 5
                        .item__info
                          .item__text подготовка к цт по русскому языку
                          .item__place 5
                    .tabs__col
                      .item
                        .item__title
                          .item__info
                            .item__img
                              img(src="images/seo-google.png", alt="google")
                            .item__name место
                        .item__info
                          .item__text курсы по математике в минске
                          .item__place 1
                        .item__info
                          .item__text курсы по математике
                          .item__place 5
                        .item__info
                          .item__text курсы по химии
                          .item__place 5
                  
                  .tabs__hidden
                    .tabs__info
                      ul
                        li Трафик поисковых систем вырос 
                          strong в 40 раз. с 25 до 1000 человек в неделю

                        li Рост посещаемости посетителей: 
                          strong c 400 до 2300 посещений в неделю

                        li Рост заявок на обучение через сайт 
                          strong до 80 в неделю, конверсия 2,5%.                      
                  .tabs__more
                    span Показать еще статистику                                        

    section.seo-cash
      .container
        .section__img
        .section__title Сколько стоит раскрутка сайта?
        .section__text
          p Сразу укажем, что на стоимость, а также на срок раскрутки сайта влияет много факторов, поэтому не стоит ожидать, что через неделю Вы уже будете в десятке лидеров.
        .seo-cash__factors
          .factors
            .factors__title.wow.fadeInDown ФАКТОРЫ ВЛИЯЮЩИЕ НА <br>СТОИМОСТЬ ПРОДВИЖЕНИЯ <br>САЙТОВ В ТОП

            .factors__wrap
              ul.factors__list
                li количество и сложность ключевых запросов сайта;
                li перечень поисковиков, в которых заказчик хочет получить лидирующие позиции для своего сайта;
                li наличие конкурентов в сети по тематике сайта заказчика;
                li уровень уникальности контента, который уже есть на вашем сайте;
                li срок существования вашего сайта;
                li применение к сайту фильтров по каким-либо причинам.

        .offer
          h5 Стоимость продвижения сайта по Минску составляет от 5 млн бел руб в месяц. 

          h6 Узнать точную стоимость вы можете заполнив форму запроса стоимости 


          .offer__btn.wow.lightSpeedIn
            .btn.btn-primary запроса стоимости                      