extends template
block content
  main.services
    +banner('НАШИ УСЛУГИ','Мы создаем интернет-проекты с лучшими результатами на рынке','Услуги','yellow')
    section.working
      .container
        +working()