extends template
block content
  -var dir1="%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='34' viewBox='0 0 29 34'%3E%0A  %3Cdefs%3E%0A    %3Cstyle%3E%0A      .cls-1 %7B%0A        fill-rule: evenodd;%0A      %7D%0A    %3C/style%3E%0A  %3C/defs%3E%0A  %3Cpath id='Forma_1' data-name='Forma 1' class='cls-1' d='M647.094,5248H619.906a0.9,0.9,0,0,0-.906.9v32.2a0.9,0.9,0,0,0,.906.9h27.188a0.9,0.9,0,0,0,.906-0.9v-32.2A0.9,0.9,0,0,0,647.094,5248Zm-0.907,32.21H620.812v-23.55h25.375v23.55Zm-21.75-16.47h18.125a0.448,0.448,0,0,0,.453-0.44v-3.05a0.45,0.45,0,0,0-.453-0.45H624.437a0.451,0.451,0,0,0-.453.45v3.05A0.449,0.449,0,0,0,624.437,5263.74Zm0,13.18h8.247a0.451,0.451,0,0,0,.453-0.45v-8.51a0.451,0.451,0,0,0-.453-0.45h-8.247a0.451,0.451,0,0,0-.453.45v8.51A0.451,0.451,0,0,0,624.437,5276.92Zm18.125-9.41h-6.343a0.451,0.451,0,0,0-.454.45v2.6a0.449,0.449,0,0,0,.454.44h6.343a0.448,0.448,0,0,0,.453-0.44v-2.6A0.45,0.45,0,0,0,642.562,5267.51Zm0,5.8h-6.343a0.451,0.451,0,0,0-.454.45v2.6a0.449,0.449,0,0,0,.454.44h6.343a0.448,0.448,0,0,0,.453-0.44v-2.6A0.45,0.45,0,0,0,642.562,5273.31Z' transform='translate%28-619 -5248%29'/%3E%0A%3C/svg%3E";
  -var dir2="%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='37' viewBox='0 0 30 37'%3E%0A  %3Cdefs%3E%0A    %3Cstyle%3E%0A      .cls-1 %7B%0A        fill-rule: evenodd;%0A      %7D%0A    %3C/style%3E%0A  %3C/defs%3E%0A  %3Cpath id='Forma_1' data-name='Forma 1' class='cls-1' d='M952.409,5262.41s-0.052-.57-0.077-0.86a3.042,3.042,0,0,0,.387-0.26c0.216,0.13.646,0.38,0.646,0.38l0.733-.2,0.833-1.44-0.193-.73-0.831-.48a2.989,2.989,0,0,0-.057-0.47l0.658-.57v-0.76l-1.083-1.26h-0.758s-0.36.31-.54,0.46a4.112,4.112,0,0,0-.616-0.23l-0.052-.64-0.536-.53-1.657.13-0.536.54s0.046,0.56.068,0.84a3.752,3.752,0,0,0-.458.31c-0.233-.1-0.7-0.32-0.7-0.32l-0.734.2-0.694,1.51-0.024.1,0.218,0.63s0.54,0.25.812,0.37a2.9,2.9,0,0,0,.083.53c-0.206.17-.619,0.52-0.619,0.52v0.76l1.074,1.27a6.342,6.342,0,0,0,.659.06l0.1-.06s0.393-.33.589-0.5a3.051,3.051,0,0,0,.518.19l0.061,0.67,0.536,0.53,1.654-.15Zm-1.939-1.78a1.675,1.675,0,1,1,1.673-1.67A1.672,1.672,0,0,1,950.47,5260.63Zm6.537,7.22s-0.04-.43-0.059-0.65a2.83,2.83,0,0,0,.293-0.19c0.163,0.09.488,0.28,0.488,0.28l0.555-.14,0.63-1.09-0.146-.56-0.629-.36a2.105,2.105,0,0,0-.043-0.36l0.5-.42v-0.58l-0.819-.95H957.2s-0.272.23-.407,0.35a3.514,3.514,0,0,0-.466-0.18l-0.039-.48-0.4-.41-1.253.1-0.4.41s0.035,0.42.051,0.64a3.462,3.462,0,0,0-.346.23l-0.529-.24-0.555.15-0.525,1.14-0.018.08,0.165,0.48s0.41,0.18.614,0.28a2.112,2.112,0,0,0,.063.39c-0.156.13-.468,0.4-0.468,0.4v0.57l0.812,0.96s0.473,0.06.5,0.05a0.866,0.866,0,0,1,.076-0.05s0.3-.25.445-0.37a2.5,2.5,0,0,0,.392.13c0.015,0.17.046,0.51,0.046,0.51l0.4,0.41,1.251-.12Zm-1.467-1.34a1.265,1.265,0,1,1,1.266-1.27A1.268,1.268,0,0,1,955.54,5266.51Zm12.994-14.44H952.608a1.036,1.036,0,0,0,0,2.07h15.926A1.036,1.036,0,0,0,968.534,5252.07Zm0,4.9h-7.655a1.036,1.036,0,0,0,0,2.07h7.655A1.036,1.036,0,0,0,968.534,5256.97Zm-21.056-7.48h24.033v13.13h2.482V5247H945v8.1h2.482v-5.61Zm22.145,27.15a4.7,4.7,0,0,0-.069-0.78l1.116-.9,0.041-1.25-1.719-2.14-1.251-.04s-0.61.49-.913,0.73a6.6,6.6,0,0,0-1-.41c-0.017-.35-0.052-1.06-0.052-1.06l-0.857-.92-2.737.14-0.912.85s0.044,0.93.066,1.4a5.59,5.59,0,0,0-.771.49c-0.379-.19-1.137-0.56-1.137-0.56l-1.22.28-1.223,2.45-0.046.17,0.324,1.05,1.32,0.66a4.58,4.58,0,0,0,.11.86l-1.05.84-0.04,1.25,1.7,2.15s1.026,0.15,1.082.12,0.169-.08.169-0.08,0.666-.53,1-0.79a5.913,5.913,0,0,0,.844.33c0.021,0.37.065,1.1,0.065,1.1l0.855,0.92,2.735-.16,0.912-.86s-0.054-.95-0.082-1.42a7.333,7.333,0,0,0,.653-0.41c0.347,0.22,1.044.65,1.044,0.65l1.22-.28,1.449-2.33-0.278-1.22S970.072,5276.92,969.623,5276.64Zm-5.762,2.8a2.761,2.761,0,1,1,2.848-2.67A2.756,2.756,0,0,1,963.861,5279.44Zm10.847-8.64-1.448-.9a4.99,4.99,0,0,0-.074-0.84l1.2-.96,0.043-1.35-1.849-2.3-1.345-.05s-0.656.53-.982,0.79a5.75,5.75,0,0,0-1.081-.44c-0.018-.38-0.055-1.14-0.055-1.14l-0.92-.99-2.946.15-0.981.92s0.049,1,.071,1.5a5.4,5.4,0,0,0-.829.53c-0.406-.21-1.224-0.61-1.224-0.61l-1.31.3-1.318,2.64-0.049.19,0.35,1.13s0.617,0.3,1.1.55l0.547-.52,0.222-.2,0.3-.02,2.2-.11a2.961,2.961,0,1,1,5.475,2.2l1.543,1.92,0.193,0.24-0.01.31-0.026.79c0.319,0.2.626,0.39,0.626,0.39l1.312-.3,1.558-2.51Zm-28.282-2.94a0.929,0.929,0,0,0,.6-0.2,1.205,1.205,0,0,0,.361-0.55,3.1,3.1,0,0,0,.12-0.95,3.409,3.409,0,0,0-.074-0.79,1.648,1.648,0,0,0-.207-0.49,0.972,0.972,0,0,0-.334-0.32,1,1,0,0,0-.47-0.1,0.922,0.922,0,0,0-.6.19,1.211,1.211,0,0,0-.362.56,3.078,3.078,0,0,0-.121.95,2.19,2.19,0,0,0,.328,1.35A0.922,0.922,0,0,0,946.426,5267.86Zm-0.454-2.83a0.523,0.523,0,0,1,.45-0.24,0.572,0.572,0,0,1,.478.27,3.218,3.218,0,0,1,0,2.19,0.549,0.549,0,0,1-.946,0,2.1,2.1,0,0,1-.192-1.09A2.135,2.135,0,0,1,945.972,5265.03Zm2.866-.13a2.1,2.1,0,0,1-.6.39v0.4a3.411,3.411,0,0,0,.431-0.21,2.735,2.735,0,0,0,.387-0.28v2.6h0.409v-3.34H949.2A1.516,1.516,0,0,1,948.838,5264.9Zm-1.53,4.94a0.926,0.926,0,0,0-.334-0.31,1,1,0,0,0-.47-0.1,0.924,0.924,0,0,0-.6.19,1.169,1.169,0,0,0-.361.55,3.162,3.162,0,0,0-.121.96,2.2,2.2,0,0,0,.329,1.35,0.916,0.916,0,0,0,.756.35,0.936,0.936,0,0,0,.606-0.2,1.207,1.207,0,0,0,.359-0.56,3.022,3.022,0,0,0,.121-0.94,3.35,3.35,0,0,0-.074-0.79A1.77,1.77,0,0,0,947.308,5269.84Zm-0.331,2.38a0.549,0.549,0,0,1-.946,0,2.1,2.1,0,0,1-.19-1.09,2.123,2.123,0,0,1,.209-1.13,0.523,0.523,0,0,1,.45-0.24,0.569,0.569,0,0,1,.478.27,2.1,2.1,0,0,1,.192,1.09A2.137,2.137,0,0,1,946.977,5272.22Zm2.566,0.55v-3.35h-0.264a1.432,1.432,0,0,1-.362.45,2.623,2.623,0,0,1-.6.39v0.4a3.541,3.541,0,0,0,.43-0.21,2.048,2.048,0,0,0,.386-0.29v2.61h0.409Zm2.24,0v-3.35H951.52a1.432,1.432,0,0,1-.362.45,2.623,2.623,0,0,1-.6.39v0.4a3.541,3.541,0,0,0,.43-0.21,2.016,2.016,0,0,0,.386-0.29v2.61h0.408Zm2.936-2.93a0.934,0.934,0,0,0-.334-0.31,1,1,0,0,0-.469-0.1,0.922,0.922,0,0,0-.6.19,1.169,1.169,0,0,0-.361.55,3.166,3.166,0,0,0-.12.96,2.2,2.2,0,0,0,.328,1.35,0.918,0.918,0,0,0,.757.35,0.931,0.931,0,0,0,.6-0.2,1.2,1.2,0,0,0,.359-0.56,3.019,3.019,0,0,0,.122-0.94,3.282,3.282,0,0,0-.076-0.79A1.635,1.635,0,0,0,954.719,5269.84Zm-0.331,2.38a0.55,0.55,0,0,1-.947,0,2.1,2.1,0,0,1-.19-1.09,2.143,2.143,0,0,1,.209-1.13,0.524,0.524,0,0,1,.45-0.24,0.569,0.569,0,0,1,.478.27,2.1,2.1,0,0,1,.192,1.09A2.118,2.118,0,0,1,954.388,5272.22Zm-7.08,3.21a0.846,0.846,0,0,0-.334-0.31,1.006,1.006,0,0,0-.47-0.11,0.924,0.924,0,0,0-.6.19,1.2,1.2,0,0,0-.361.56,3.092,3.092,0,0,0-.121.95,2.163,2.163,0,0,0,.329,1.35,0.916,0.916,0,0,0,.756.35,0.936,0.936,0,0,0,.606-0.2,1.174,1.174,0,0,0,.359-0.55,3.092,3.092,0,0,0,.121-0.95,3.409,3.409,0,0,0-.074-0.79A1.7,1.7,0,0,0,947.308,5275.43Zm-0.331,2.37a0.549,0.549,0,0,1-.946,0,3.162,3.162,0,0,1,.019-2.21,0.523,0.523,0,0,1,.45-0.24,0.569,0.569,0,0,1,.478.27A3.182,3.182,0,0,1,946.977,5277.8Zm2.917-2.37a0.867,0.867,0,0,0-.334-0.31,1.009,1.009,0,0,0-.47-0.11,0.921,0.921,0,0,0-.6.19,1.2,1.2,0,0,0-.362.56,3.018,3.018,0,0,0-.121.95,2.17,2.17,0,0,0,.327,1.35,1,1,0,0,0,1.361.15,1.162,1.162,0,0,0,.361-0.55,3.092,3.092,0,0,0,.121-0.95,3.4,3.4,0,0,0-.075-0.79A1.621,1.621,0,0,0,949.894,5275.43Zm-0.331,2.37a0.549,0.549,0,0,1-.946,0,3.132,3.132,0,0,1,.019-2.21,0.522,0.522,0,0,1,.45-0.24,0.569,0.569,0,0,1,.478.27A3.182,3.182,0,0,1,949.563,5277.8Zm2.915-2.37a0.848,0.848,0,0,0-.332-0.31,1.018,1.018,0,0,0-.47-0.11,0.921,0.921,0,0,0-.6.19,1.2,1.2,0,0,0-.363.56,3.052,3.052,0,0,0-.12.95,2.17,2.17,0,0,0,.327,1.35,0.919,0.919,0,0,0,.757.35,0.929,0.929,0,0,0,.6-0.2,1.16,1.16,0,0,0,.36-0.55,3.092,3.092,0,0,0,.121-0.95,3.288,3.288,0,0,0-.076-0.79A1.526,1.526,0,0,0,952.478,5275.43Zm-0.33,2.37a0.549,0.549,0,0,1-.946,0,3.147,3.147,0,0,1,.019-2.21,0.524,0.524,0,0,1,.45-0.24,0.571,0.571,0,0,1,.478.27A3.182,3.182,0,0,1,952.148,5277.8Zm2.568,0.55v-3.34h-0.263a1.538,1.538,0,0,1-.364.44,2.392,2.392,0,0,1-.6.4v0.39a3.541,3.541,0,0,0,.43-0.21,2.608,2.608,0,0,0,.386-0.28v2.6h0.41Zm2.206,2.52a2.4,2.4,0,0,1-.6.4v0.39a3.478,3.478,0,0,0,.431-0.21,2.076,2.076,0,0,0,.386-0.28v2.6h0.409v-3.34h-0.264A1.544,1.544,0,0,1,956.922,5280.87Zm-9.614.14a0.926,0.926,0,0,0-.334-0.31,1.006,1.006,0,0,0-.47-0.11,0.93,0.93,0,0,0-.6.2,1.169,1.169,0,0,0-.361.55,3.092,3.092,0,0,0-.121.95,2.216,2.216,0,0,0,.329,1.36,0.908,0.908,0,0,0,.756.34,0.931,0.931,0,0,0,.606-0.19,1.207,1.207,0,0,0,.359-0.56,3.092,3.092,0,0,0,.121-0.95,3.257,3.257,0,0,0-.074-0.78A1.77,1.77,0,0,0,947.308,5281.01Zm-0.331,2.38a0.549,0.549,0,0,1-.946,0,2.144,2.144,0,0,1-.19-1.1,2.105,2.105,0,0,1,.209-1.12,0.523,0.523,0,0,1,.45-0.24,0.569,0.569,0,0,1,.478.27,2.1,2.1,0,0,1,.192,1.09A2.137,2.137,0,0,1,946.977,5283.39Zm1.94-2.35a2.646,2.646,0,0,1-.6.39v0.39a1.928,1.928,0,0,0,.43-0.21,1.681,1.681,0,0,0,.386-0.28v2.61h0.409v-3.35h-0.264A1.552,1.552,0,0,1,948.917,5281.04Zm2.241,0a2.646,2.646,0,0,1-.6.39v0.39a1.928,1.928,0,0,0,.43-0.21,1.66,1.66,0,0,0,.386-0.28v2.61h0.409v-3.35h-0.263A1.575,1.575,0,0,1,951.158,5281.04Zm3.561-.03a0.934,0.934,0,0,0-.334-0.31,1.008,1.008,0,0,0-.469-0.11,0.927,0.927,0,0,0-.6.2,1.169,1.169,0,0,0-.361.55,3.1,3.1,0,0,0-.12.95,2.217,2.217,0,0,0,.328,1.36,0.91,0.91,0,0,0,.757.34,0.925,0.925,0,0,0,.6-0.19,1.2,1.2,0,0,0,.359-0.56,3.088,3.088,0,0,0,.122-0.95,3.191,3.191,0,0,0-.076-0.78A1.635,1.635,0,0,0,954.719,5281.01Zm-0.331,2.38a0.55,0.55,0,0,1-.947,0,3.189,3.189,0,0,1,.019-2.22,0.524,0.524,0,0,1,.45-0.24,0.569,0.569,0,0,1,.478.27,2.1,2.1,0,0,1,.192,1.09A2.118,2.118,0,0,1,954.388,5283.39Z' transform='translate%28-945 -5247%29'/%3E%0A%3C/svg%3E%0A";
  -var dir3="%3Csvg xmlns='http://www.w3.org/2000/svg' width='43' height='28' viewBox='0 0 43 28'%3E%0A  %3Cdefs%3E%0A    %3Cstyle%3E%0A      .cls-1 %7B%0A        fill-rule: evenodd;%0A      %7D%0A    %3C/style%3E%0A  %3C/defs%3E%0A  %3Cpath id='Forma_1' data-name='Forma 1' class='cls-1' d='M1289.54,5260.38a13.161,13.161,0,0,0-26.08,0,8.311,8.311,0,1,0,0,16.62h26.08A8.311,8.311,0,1,0,1289.54,5260.38Zm-14.21,8.32-2.09,2.06-6.47-6.36,6.47-6.36,2.09,2.06-4.38,4.3Zm4.43,2.06-2.09-2.06,4.38-4.3-4.38-4.3,2.09-2.06,6.47,6.36Z' transform='translate%28-1255 -5249%29'/%3E%0A%3C/svg%3E%0A";  

   - var work3='<svg  id="mobile" xmlns="http://www.w3.org/2000/svg" width="95.583" height="100" viewBox="2.208 0 95.583 100">  <path d="M94.762 31.627l-2.016.834c-.68-.9-1.487-1.7-2.374-2.37l.835-2.02c.254-.61-.038-1.31-.65-1.57l-3.324-1.38c-.612-.25-1.314.04-1.568.65l-.844 2.02c-1.09-.15-2.23-.16-3.35 0l-.83-2.01c-.252-.61-.94-.91-1.553-.652l-3.33 1.377c-.61.254-.887.95-.633 1.563l.834 2.012c-.9.68-1.704 1.487-2.37 2.374l-2.022-.837c-.61-.254-1.313.038-1.57.65l-1.38 3.328c-.25.614.038 1.316.65 1.57l2.02.84c-.156 1.1-.16 2.238-.003 3.355l-2.014.833c-.61.252-.91.94-.653 1.554l1.38 3.325c.25.613.95.89 1.563.636l2.012-.834c.682.9 1.486 1.705 2.375 2.37l-.837 2.025c-.254.61.04 1.313.65 1.57l3.325 1.38c.612.25 1.313-.04 1.567-.65l.844-2.025c1.1.156 2.235.158 3.354.004l.835 2.014c.252.615.94.91 1.55.657l3.33-1.38c.61-.253.89-.95.634-1.562l-.835-2.015c.9-.68 1.707-1.487 2.37-2.374l2.025.834c.61.255 1.315-.037 1.567-.65l1.38-3.324c.254-.613-.036-1.315-.648-1.57l-2.025-.842c.156-1.098.16-2.237.004-3.355l2.012-.834c.61-.26.91-.948.653-1.56l-1.373-3.32c-.257-.617-.95-.894-1.563-.64zM85.45 45.21c-3.064 1.268-6.572-.186-7.84-3.248-1.27-3.062.185-6.57 3.247-7.84 3.062-1.267 6.57.187 7.838 3.25 1.27 3.06-.183 6.57-3.246 7.838z"/>  <path d="M80.152 57.488V84h-44V17h44v4.82h5V8c0-4.418-3.582-8-8-8h-38c-4.417 0-8 3.582-8 8v84c0 4.418 3.583 8 8 8h38c4.418 0 8-3.582 8-8V57.488h-5zM54.185 9h8c.553 0 1 .448 1 1s-.447 1-1 1h-8c-.552 0-1-.448-1-1s.45-1 1-1zm3.668 86.266c-2.21 0-4.002-1.79-4.002-4s1.8-4 4.01-4 4 1.79 4 4-1.79 4-3.997 4zM2.208 25.528h24v5h-24zm6 10h18v5h-18zm12 10h6v5h-6z"/></svg>';

   - var work4='<svg id="cloud" xmlns="http://www.w3.org/2000/svg" width="71" height="47" viewBox="0 0 71 47">  <path d="M379.037,1570.1a21.693,21.693,0,0,0-43.075,0,13.95,13.95,0,1,0,0,27.9h43.076A13.95,13.95,0,1,0,379.037,1570.1Zm-23.473,13.97-3.454,3.46-10.68-10.68,10.68-10.67,3.454,3.45-7.227,7.22Zm7.326,3.46-3.454-3.46,7.227-7.22-7.227-7.22,3.454-3.45,10.68,10.67Z" transform="translate(-322 -1551)"/></svg>'; 

  main.site
    section.banner.banner_default
      .banner__img.animated.fadeIn(style='background-image: url(images/site.jpg)')
      .banner__info
        h1.banner__title ПРОДАЮЩИЕ САЙТЫ

        .banner__text Заказать сайт в Минске может вся Европа
      .breadcrumb
        ol
          li
            a(href='#') Главная
          li
            a(href='#') Разработка сайтов  
          li.active Разработка сайта


    section.section-why
      .container
        .section__pre 3 фактора, которые позволяют делать реально продающие сайты
        .section__title КЛЮЧЕВЫЕ СОСТАВЛЯЮЩИЕ <br> НАШЕГО УСПЕХА
        .section__text
          p Компания IMEDIA предлагает разработку сайтов любой сложности. Мы одинаково трепетно относимся к любому проекту от сайта-визитки до многопрофильного интернет-магазина. Каждый интернет-ресурс в нашем понимании должен тем или иным образом продавать. 

          p
            strong Вот что позволяет нам осуществлять поставленные задачи:
          .section-why__group
            .row
              .four.columns
                .item
                  .item__img.wow.bounceIn
                    +number(1)
                  .item__info
                    .item__text 
                      strong 15 лет опыта в сфере<br>web-разработок         
              .four.columns
                .item
                  .item__img.wow.bounceIn(data-wow-delay="0.25s")
                    +number(2)
                  .item__info
                    .item__text 
                      strong Применение современных<br>web-технологий 
              .four.columns
                .item
                  .item__img.wow.bounceIn(data-wow-delay="0.5s")
                    +number(3)
                  .item__info
                    .item__text 
                      strong Действенные<br>маркетинговые<br>инструменты
          .offer
            .offer__text Нашу эффективность подтверждает признание клиентов и партнеров!
            .offer__btn
              .btn.btn-primary все наши достижения

    section.plus-minus.bg-grey
      .container
        .section__pre Наши отличия от большинства конкурентов
        .section__title ПОЧЕМУ РАБОТАТЬ С НАМИ <br> УДОБНО И ВЫГОДНО?
        .section__text
          p
            strong Сказать, что на рынке нет достойных конкурентов, нам не позволит совесть!
            br
            span Однако, подавляющее большинство разработчиков сайтов работают не на клиента, а ради своей выгоды.<br> Основные отличия нашей компании от этого "большинства" приведены ниже. 
        .plus-minus__wrap
          .plus-minus__block.minus
            .plus-minus__title ТАК РАБОТАЕТ "БОЛЬШИНСТВО"
            ul.plus-minus__list
              - var listItem = ['Просят готовое техническое задание или подсовывают непонятные анкеты.','В лучшем случае смотрят 2-3 главных страницы сайтов приблизительно схожих компаний.','Начинают с дизайна и потому делают сайты, требующие многократных доработок.','Используют только типовые и зачастую устаревшие решения и макеты.','Имеют узкую специализацию, то есть "только создают", "только продвигают" и т.п.','Срывают сроки, изобретательно выдумывая причины задержек.','После запуска сайта забывают о проблемах клиента и пропадают.']
              each item in listItem
                li.plus-minus__item= item 

          .plus-minus__block.plus
            .plus-minus__title НАШ ПОДХОД К РАБОТЕ!
            ul.plus-minus__list
              - var listItem = ['Просим объяснить задачи бизнеса в целом и будущего сайта в частности.','Изучаем конкурентную среду, специфику бизнеса и рекомендации маркетологов.','Начинаем с общей концепции сайта и создаем рабочий продукт с первого раза.','При необходимости разрабатываем уникальные инструменты для конкретного бизнеса.','Решаем в комплексе все вопросы максимальной эффективности сайта.", "Несем материальную ответственность за сроки, указанные в договоре.','Предлагаем сопровождение с бесплатным тестовым периодом.']
              each item in listItem
                li.plus-minus__item= item 
        .offer
          .offer__text
            span Вы можете заказать сайт у "Большинства" или в IMEDIA.
            br
            strong Мы сделаем сайт за тот же период времени, но наш сайт действительно будет продавать!

          .offer__btn
            .btn.btn-green ЗАКАЗАТЬ САЙТ

    section.layers
      .container
        .section__pre 5 "слоев упаковки" для Вашего бизнеса
        .section__title КАК МЫ ДЕЛАЕМ <br> ПРОДАЮЩИЙ САЙТ?
        .layers__wrap
            .layers__img
              .layers__img-analytical.wow.bounceInDown(data-wow-delay="1s")
                img(src="images/layers-01.png", alt="layers")
              .layers__img-conversion.wow.bounceInDown(data-wow-delay="0.75s")
                img(src="images/layers-02.png", alt="layers")
              .layers__img-technological.wow.bounceInDown(data-wow-delay="0.5s")
                img(src="images/layers-03.png", alt="layers")
              .layers__img-visual.wow.bounceInDown(data-wow-delay="0.25s")
                img(src="images/layers-04.png", alt="layers")
              .layers__img-semantic.wow.bounceInDown
                img(src="images/layers-05.png", alt="layers")

            .layers__block.analytical
              .layers__circle
              .layers__line
              a(href="images/layers01.jpg").layers__text.fancybox Аналитический
            .layers__block.conversion
              a(href="images/layers02.jpg").layers__text.fancybox Конверсионный
              .layers__line
              .layers__circle             
            .layers__block.technological
              .layers__circle
              .layers__line
              a(href="images/layers03.jpg").layers__text.fancybox Технологический
            .layers__block.visual
              a(href="images/layers04.jpg").layers__text.fancybox Визуальный
              .layers__line
              .layers__circle
            .layers__block.semantic
              .layers__circle
              .layers__line
              a(href="images/layers05.jpg").layers__text.fancybox Смысловой

        .offer
          .offer__text
            strong Работая с нами, Вы получаете эффективную упаковку бизнеса!
          .offer__btn
            .btn.btn-green ЗАКАЗАТЬ САЙТ

    section.section-sequence
      .container
        .section__pre 7 основных шагов к получению инструмента продаж
        .section__title ПОРЯДОК РАБОТЫ  <br> НАД СОЗДАНИЕМ САЙТА
        .section-sequence__group
          .item_right
            .item.wow.fadeInRight
              .item__img
                +number(1)
              .item__info
                .item__title Знакомство и постановка задачи
                .item__text Компания IMEDIA предлагает разработку сайтов любой сложности. Мы одинаково трепетно относимся к любому проекту от сайта-визитки до многопрофильного интернет-магазина.           
          .item_left
            .item.wow.fadeInLeft
              .item__img
                +number-white(2)
              .item__info
                .item__title Маркетинговые исследования
                .item__text Компания IMEDIA предлагает разработку сайтов любой сложности. Мы одинаково трепетно относимся к любому проекту от сайта-визитки до многопрофильного интернет-магазина
          .item_right
            .item.wow.fadeInRight
              .item__img
                +number(3)
              .item__info
                .item__title Разработка и утверждение концепции
                .item__text Компания IMEDIA предлагает разработку сайтов любой сложности.          
          .item_left
            .item.wow.fadeInLeft
              .item__img
                +number-white(4)
              .item__info
                .item__title Комплексная разработка сайта
                .item__text 
                  span Создание прототипов — Дизайн — Адаптивный дизайн
                  br
                  span Верстка — Адаптивная верстка — Программирование
                  br
                  span Подключение инструментов — Разработка инструкций
                  br
                  span Разработка контента — Наполнение контентом
          .item_right
            .item.wow.fadeInRight
              .item__img
                +number(5)
              .item__info
                .item__title Тестирование и запуск рабочей версии
                .item__text Компания IMEDIA предлагает разработку сайтов любой сложности. 
       
          .item_left
            .item.wow.fadeInLeft
              .item__img
                +number-white(6)
              .item__info
                .item__title Обучение персонала заказчика
                .item__text Компания IMEDIA предлагает разработку сайтов любой сложности. Мы одинаково трепетно относимся к любому 
          .item_right
            .item.wow.fadeInRight
              .item__img
                +number(7)
              .item__info
                .item__title Комплексная поддержка сайта + продвижение
                .item__text Компания IMEDIA предлагает разработку сайтов любой сложности. 
        .offer
          h6 Вы можете задать все интересующие Вас вопросы и заказать сайт уже сегодня!
          .offer__btn
            .btn.btn-green Получить консультацию  

    section.section-approach.section-approach_site.bg-light-yellow
      .container
        .section__img
        .section__pre Клиент сам расставляет приоритеты
        .section__title ВАРИАТИВНЫЙ ПОДХОД <br> К РАЗРАБОТКЕ интернет-магазина
        .section__post Основные направления web-разработок:
        .section-approach__direction
          .item
            .item__img.wow.fadeIn
              span(style='background-image: url("data:image/svg+xml,'+dir1+'");')
            .item__info
              .item__title Адаптация шаблонного решения на базе 1С-Битрикс под конкретную задачу
              .item__text Создание сайта, позволяющее начать продавать через интернет в самые короткие сроки при минимальном бюджете.
                       
          .divider
          .item
            .item__img.wow.fadeIn(data-wow-delay="0.25s")
              span(style='background-image: url("data:image/svg+xml,'+dir2+'");')
            .item__info
              .item__title Индивидуальная разработка на базе CMS 1C-Битрикс, Drupal или Magento
              .item__text Создание многофункциональных сайтов в относительно короткие сроки в рамках доступного и заранее оговоренного бюджета 
         
          .divider
          .item
            .item__img.wow.fadeIn(data-wow-delay="0.5s")
              span(style='background-image: url("data:image/svg+xml,'+dir3+'");')
            .item__info
              .item__title Индивидуальная разработка с использованием  фреймворков Yii и Zend
              .item__text Создание с нуля всех элементов интернет-ресурса, который максимально соответствует специфике конкретного бизнеса.  

        .section-approach__list
          .block__title
            strong Основные выгоды вариативного подхода 
            span к разработке сайтов
          ul 
            li Реальные сроки разработки
            li Высокий уровень безопасности
            li Возможность формировать подходящий бюджет
            li Интеграция в системы учета
            li Максимальное соответствие специфике бизнеса
            li Возможность реализации любых проектов
            li Удобное управление инструментами
        .offer
          .offer__text 
            span Чем раньше мы узнаем о задачах Вашего бизнеса,
            br
            span тем быстрее Вы получите нужный продукт!
          .offer__btn.wow.shake
            .btn.btn-green Заказать звонок специалиста              
 
    section.section-working
      .section-working__title Возможно Вас также заинтересует
      .container
        .row
          .working__item.six.columns            
            .working__img
              .svg-animate
                !=work3

            .working__title Разработка мобильных приложений
            .working__text Выгодно от конкурентов нас отличает большой опыт работы в данной сфере и возможность проведения глубоких и тщательных экспертиз готовых приложений для iPhone и iPad.
            .working__btn
              a.btn.btn-primary(href="") ПОДРОБНЕЕ

          .working__item.six.columns            
            .working__img
              .svg-animate
                !=work4
            .working__title Разработка программного обеспечения
            .working__text Выгодно от конкурентов нас отличает большой опыт работы в данной сфере и возможность проведения глубоких и тщательных экспертиз готовых приложений для iPhone и iPad.
            .working__btn
              a.btn.btn-primary(href="") ПОДРОБНЕЕ          

    section.portfolio
      .container
        .section__pre Примеры наших работ
        .section__title САЙТЫ, КОТОРЫЕ УЖЕ ПРОДАЮТ!
      .portfolio__wrap.clearfix
        figure.portfolio__item._main
          img(src="images/concordia.jpg", alt="concordia")
          figcaption.portfolio__info
            .portfolio__name “CONCORDIA”
            .portfolio__text сайт медицинского центра
            .portfolio__btn 
              a.btn.btn-primary(href="") ПОДРОБНЕЕ
        figure.portfolio__item  
          img(src="images/stilville.jpg", alt="stilville")
          figcaption.portfolio__info
            .portfolio__name stilville
            .portfolio__text сайт 
            .portfolio__btn 
              a.btn.btn-primary(href="") ПОДРОБНЕЕ
        figure.portfolio__item  
          img(src="images/study.jpg", alt="")
          figcaption.portfolio__info
            .portfolio__name study
            .portfolio__text сайт 
            .portfolio__btn 
              a.btn.btn-primary(href="") ПОДРОБНЕЕ 
        figure.portfolio__item  
          img(src="images/foxstyle.jpg", alt="")
          figcaption.portfolio__info
            .portfolio__name foxstyle
            .portfolio__text сайт 
            .portfolio__btn 
              a.btn.btn-primary(href="") ПОДРОБНЕЕ
        figure.portfolio__item  
          img(src="images/krasa-volos.jpg", alt="krasa-volos")
          figcaption.portfolio__info
            .portfolio__name krasa-volos
            .portfolio__text сайт 
            .portfolio__btn 
              a.btn.btn-primary(href="") ПОДРОБНЕЕ
      .container
        .offer
          .offer__title Хотите узнать сколько стоит заказать интернет-магазин в Минске?

          .offer__text Закажите звонок эксперта и ПОЛУЧИТЕ выгодное предложение!

          .offer__btn.wow.lightSpeedIn
            .btn.btn-green Получить Выгоду