extends template2
block content
  main.text
    section.banner.banner_yellow
      .banner__img.animated.fadeIn
      .banner__info
        h1.banner__title ТОП-1: панацея или всего лишь часть<br>алгоритма привлечения трафика?
        .banner__type 
          span SEO
      .breadcrumb
        ol
          li
            a(href='#') Главная
          li
            a(href='#') Новости  
          li.active ТОП-1: панацея или...
    section.text__content
      .container
        .text__wrap
          .text__date 13 Апреля 2016
          .text__block
            p
              strong Проблемы несоответствия высоких позиций сайта в выдаче поисковиков и достаточно медленному росту трафика - весьма распространенное явление.При этом закономерно появляется еще один минус в виде отсутствия желаемого количества заказов.

            p Попробуем вместе разобраться с причинами такой ситуации и расставить правильные акценты на пути SEO-продвижения сайтов.

            h6 Актуальность запросов

            p Прежде всего, продвигая сайт и надеясь на положительный результат в виде многочисленных откликов и заказов, нужно научиться мыслить соответственно уровню среднестатистического покупателя. Неправильным решением будет отдавать первенство запросам, которые включают, по Вашему мнению, наиболее правильные ключи с профессиональной точки зрения. Ведь они могут быть совершенно чуждыми посетителям всемирной паутины. Не стоит применять полные названия услуг или сугубо профессиональную терминологию (этапы подготовки и монтажа гипсовой лепнины, правила подрезки смежных галтелей и т.п.). 

            p Продвижение сайта должно строиться на запросе, который включает понятное каждому клиенту краткое название предлагаемого продукта (к примеру, потолочный плинтус). В качестве ключевиков, которые вводятся на поисковых платформах, также часто встречаются дополнения в виде слов «купить», «цена» или названий конкретных городов для приобретения товара/услуги.
          .text__slider
            .slider__wrap
              .slider__item
                img(src="images/slide03.jpg", alt="slide03")
              .slider__item
                img(src="images/slide01.jpg", alt="slide01")
              .slider__item
                .video
                  iframe(src="https://www.youtube.com/embed/x2Vp-hWChaE", frameborder="0", allowfullscreen)
          
          .text__block
            p 
              | Прежде всего, продвигая сайт и надеясь на положительный результат в виде многочисленных откликов и заказов, нужно научиться мыслить соответственно уровню 
              strong
                a(href="") среднестатистического покупателя
              |  .Неправильным решением будет отдавать первенство запросам, которые включают, по Вашему мнению, наиболее правильные ключи с профессиональной точки зрения. Ведь они могут быть совершенно чуждыми посетителям всемирной паутины. Не стоит применять полные названия услуг или сугубо профессиональную терминологию (этапы подготовки и монтажа гипсовой лепнины, правила подрезки смежных галтелей и т.п.). 
            p
              strong Продвижение сайта 
              | должно строиться на запросе, который включает понятное каждому клиенту краткое название предлагаемого продукта (к примеру, потолочный плинтус). В качестве ключевиков, которые вводятся на поисковых платформах, также часто встречаются дополнения в виде слов «купить», «цена» или названий конкретных городов для приобретения товара/услуги.

          .text__finish.clearfix
            .text__btn
              .btn.btn-grey Вернуться назад
            .text__share
              +share()



    section.text__other.bg-grey
      .container
        .text__wrap
          h6 Другие  статьи  по теме:
          .row
            // - for (var i = 0; i < 2; i++)
            .six.columns
              .review__item.wow.fadeInLeft
                .review__type 
                  span SEO
                a(href="").review__title 
                  span Признаки успешного коммерческого сайта
                .review__date 
                  time(datetime="2016-04-13") 13 Апреля 2016
                .review__text Информационная революция диктует свои условия ведения бизнеса. В данный момент времени, крупные компании или организации имеют сайты или интернет-порталы, рассказывающие об их деятельности.
                .review__more 
                  a(href="") Подробнее
            .six.columns
              .review__item.wow.fadeInRight
                .review__type 
                  span SEO
                a(href="").review__title 
                  span Признаки успешного коммерческого сайта
                .review__date 
                  time(datetime="2016-04-13") 13 Апреля 2016
                .review__text Информационная революция диктует свои условия ведения бизнеса. В данный момент времени, крупные компании или организации имеют сайты или интернет-порталы, рассказывающие об их деятельности.
                .review__more 
                  a(href="") Подробнее