mixin pagin(o)
  ul.pagin
    li.pagin__item
      a.pagin__link.word(href='#') Назад
    li.pagin__item.active
      a.pagin__link(href='#') 1
    li.pagin__item
      a.pagin__link(href='#') 2
    li.pagin__item
      a.pagin__link(href='#') 3
    li.pagin__item
      a.pagin__link(href='#') 4
    li.pagin__item
      a.pagin__link(href='#') 5
    li.pagin__item
      a.pagin__link(href='#') ...  
    li.pagin__item
      a.pagin__link.word(href='#') Следющая
