mixin share(o)
  .share
    .share-text Поделиться:
    .share-social
      a(href="").share-social-vk
      a(href="").share-social-ok
      a(href="").share-social-tw
      a(href="").share-social-fb
      a(href="").share-social-g

