mixin sidebar(o)
    aside.sidebar
      //.s-lang
        span.Ru
        a.Eng(href="")
        a.Lv(href="")
      .s-block._top
        .s-logo
          a(href="/").s-logo__link.wow.slideInDown
            //- img(src="images/logo.png", alt="logo")           
        .menu
          ul.menu__main
            li
              a(href="") О компании
            li
              a.drop(href="/") наши проекты  
              .menu__arrow
              ul.menu__sub
                li
                  a(href="/") Создание сайта
                li
                  a(href="") Мобильные приложения
                li
                  a(href="") Создание логотипа
                li
                  a(href="") Разработка фирменного стиля
                li
                  a(href="") Техническая поддержка
            li
              a.drop(href="/") УСЛУГИ
              .menu__arrow
              ul.menu__sub
                li
                  a.nested(href="/") Создание сайта
                  .submenu__arrow
                  ul.menu__sub.menu__sub_nested
                    li
                      a(href="") Интернет-магазин
                    li
                      a(href="") Корпоративный сайт 
                    li 
                      a(href="") Промо-сайт
                    li 
                      a(href="") Сайт-визитка  
                li
                  a.nested(href="") Мобильные приложения
                  .submenu__arrow
                  ul.menu__sub.menu__sub_nested
                    li
                      a(href="") Интернет-магазин
                    li
                      a(href="") Корпоративный сайт 
                    li 
                      a(href="") Промо-сайт
                    li 
                      a(href="") Сайт-визитка                  
                li
                  a(href="") Создание логотипа
                li
                  a(href="") Разработка фирменного стиля
                li
                  a(href="") Техническая поддержка
                li
                  a(href="") Графический дизайн
                li
                  a(href="") Создание баннеров
                li
                  a(href="") Тестирование
                li
                  a(href="") Копирайтинг
                li
                  a(href="") Продвижение в Instagram
                li
                  a(href="") Разработка программ на заказ
            li
              a(href="") КОНТАКТЫ      
      .s-block._bottom
        .s-discover
          a.btn.btn-primary(href="")  Узнать стоимость
        .s-social
          a.s-social__g(href="")
          a.s-social__i(href="")
        .s-adress Беларусь , г. Минск, ул. Сурганова 43, офис 804
        .s-copyright © 2009-2016 iMedia.by
