mixin scripts(o)
  //- script(src="js/vendor/jquery-1.10.2.min.js")
  script(src="js/vendor/jquery-2.1.1.min.js")  
  script(src="js/vendor/wow.min.js")
  script(src="js/vendor/jquery.fancybox.pack.js")
  script(src="js/vendor/slick.min.js")
  script(src="js/vendor/jquery.easydropdown.min.js")
  //- script(src="js/vendor/jquery.lazylinepainter-1.7.0.min.js") 
  //- script(src="js/vendor/walkway.js")
  script(src="js/vendor/vivus.min.js")
  script(src="http://maps.google.com/maps/api/js?key=AIzaSyDP0NQedbcnXkwDG0pjKzR3wXH_Rbon3n4")
  //- script(src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js")
  //- script(src="https://npmcdn.com/masonry-layout@4.1/dist/masonry.pkgd.min.js") 
  script(src="js/vendor/imagesloaded.pkgd.min.js")
  script(src="js/vendor/masonry.pkgd.min.js")      
  script(src="js/main.js")